<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="UTF-8">
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta http-equiv="Cache-Control" content="no-transform ">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    {{template "/account/Public/per_css_inc.html" .}}
        <link rel="stylesheet" type="text/css" href="/static/account/css/memberCenter.css">
    <!--{{template "/account/Public/css_inc.html" .}} -->
    <link rel="stylesheet" type="text/css"  href="/static/public/css/public/r_input.css" >
    <link rel="stylesheet" type="text/css"  href="/static/public/css/public/r_border.css" >  
    <link rel="stylesheet" type="text/css"  href="/static/public/css/public/r_common.css" >  
    <link rel="stylesheet" type="text/css"  href="/static/public/css/public/r_reset.css" >    
    <link rel="stylesheet"  type="text/css" href="/static/account/css/PAweb.css" />  
    <title>我的信息-牙医管家</title>    
</head>
<body>
    <input type="hidden" name="navtags" value="1">
        {{template "/account/Public/memberCen_hea_new.html" .}}
        <div class="mask"></div> 
        <div class="main_con">
            <div class="main_left">
                {{template "account/Public/left_nav.html" .}}
            </div>
            <!-- 加入联盟进度查询页面 -->
            <div class="main_right">
                <div class="sub_progress">
                    <span class="progress_title">查询诊所申请进度</span>
                </div>
                <div class="progress_cont">
                    <div class="no_apply_data" style="display:block">
                        <div class="apply_tips">
                            <div class="l l_ico">
                                <img src="/static/account/img/PAweb/icon_success.png" alt="">
                            </div>
                            <div class="l l_info">
                                <p class="info_h"> 提交成功，请耐心等待审核！</p>
                                <p>我们会在5个工作日内完成审核，审核结果会在第一时间通知您。</p>
                                <p class="border_b">您也可以通过账号登录牙医管家平台进入个人中心查询诊所审核进度。</p>
                                <a href="/member/applyprogress" alt="" class="fillBtn back_index">返回进度查询</a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
       {{template "account/Public/footer_new.html" .}}
       {{template "account/Public/js_inc.html" .}}   
    <script type="text/javascript" src="/static/public/yayigj_dialog_box.js"></script>
</body>
</html>
