<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta charset="UTF-8">
        <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="black" name="apple-mobile-web-app-status-bar-style">
        <meta content="telephone=no" name="format-detection">
        <meta http-equiv="Cache-Control" content="no-transform ">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <include file="Public:css_inc"/>
        <link rel="stylesheet" type="text/css" href="__APP__/public/css/memberCenter.css">
    </head>
    <body>
         <include file="Public:memberCen_hea_new"/>
         <div class="no_page">
             <img src="__APP__/public/img/no_page.png">
             <p>正在建设中，尽情期待！！</p>
             <a href="index.php?m=MemberCenter">返回首页</a>
         </div>
         <include file="Public:footer_new"/>
    </body>
</html>