<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>推送渠道列表</title>
		{{template "../public/link/css_inc.html" .}}
		<link href="/static/erp/css/chancle.css" rel="stylesheet" />
	</head>
	<body>
		{{template "../public/public/header.html" .}}
		<div class="mainFrme">
			{{template "../public/public/left.html" .}}
			<div class="rightFrme">
				<div class="crumbs"><a href="###">主页</a> > <a href="###">消息推送</a></div>
				<div class="cont">
					<div class="spuare_part"><span class="line_1"></span><span class="spuare_name">web</span><span class="line_2"></span></div>
					<table width="100%" align="center" class="cha_index_tab">
						<tr align="center">
							<td><img src="/static/erp/img/chancle/1.png"><p>官网首页海报</p></td>
							<td><img src="/static/erp/img/chancle/2.png"><p>官网登录页海报</p></td>
							<td><img src="/static/erp/img/chancle/3.png"><p>web端活动中心</p></td>
							<td><img src="/static/erp/img/chancle/4.png"><p>web端消息中心</p></td>
							<td><img src="/static/erp/img/chancle/5.png"><p>web端系统消息</p></td>
						</tr>
					</table>
					<div class="spuare_part"><span class="line_1"></span><span class="spuare_name">PC端</span><span class="line_2"></span></div>
					<table width="100%" class="cha_index_tab">
						<tr align="center">
							<td><img src="/static/erp/img/chancle/6.png"><p>PC端登录海报</p></td>
							<td><img src="/static/erp/img/chancle/7.png"><p>PC端消息中心</p></td>
							<td><img src="/static/erp/img/chancle/8.png"><p>PC端弹窗</p></td>
							<td></td>
							<td></td>
						</tr>
					</table>
					<div class="spuare_part"><span class="line_1"></span><span class="spuare_name">移动端</span><span class="line_2"></span></div>
					<table width="100%" align="center"  class="cha_index_tab">
						<tr align="center">
							<td><img src="/static/erp/img/chancle/9.png"><p>app端登录广告</p></td>
							<td><img src="/static/erp/img/chancle/10.png"><p>app端消息中心</p></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		{{template "../public/public/footer.html" .}}
	</body>
	{{template "../public/link/js_inc.html" .}}
</html>