<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>官网首页banner列表</title>
		{{template "../public/link/css_inc.html" .}}
		<link href="/static/erp/css/chancle.css" rel="stylesheet" />
        <link href="/static/erp/css/user.css" rel="stylesheet" />
	</head>
	<body>
		{{template "../public/public/header.html" .}}
			<div class="mainFrme">
				{{template "../public/public/left.html" .}}
				<div class="rightFrme">
                    <div class="crumbs"><a href="###">主页</a> > <a href="###">消息推送</a></div>
                    <div class="cont">
                        <div class="pageHeader">官网首页banner列表</div>
                        <div class="search">
                            <label>发送时间</label>
                            <div id="BeginDate" class="calendar"></div>
                            <label>至</label>
                            <div id="EndDate" class="calendar"></div>
                            <label>状体</label>
                            <div id="mesState" class="mesState"></div>
                            <input name="condition" class="ml20 w240" type="text" placeholder="请输入用户名/手机等关键词查询" />
                            <input type="button" name="userlist_btn" value="查询" />
                            <div class="excel">导出excel</div>
					    </div>
                        <table width="100%" class="off_web_table">
                            <thead>
                                <tr>
                                    <th>编号</th>
                                    <th>标题</th>
                                    <th>发送时间</th>
                                    <th>缩略图</th>
                                    <th>状态</th>
                                    <th>发送门诊量</th>
                                    <th>接收端量</th>
                                    <th>阅读量</th>
                                    <th>序列号</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody align="center">
                                <tr>
                                    <td>56499</td>
                                    <td>牙医管家北京站，端午3天大放“价</td>
                                    <td>2016.12.26  12:25:30</td>
                                    <td><img src="/static/erp/img/message/pic.png" width="100"></td>
                                    <td>已发布</td>
                                    <td>2548</td>
                                    <td>2548</td>
                                    <td>2548</td>
                                    <td>1</td>
                                    <td class="operate"><span>查看</span><span>下架</span><span>上移</span><span>下移</span><span>删除</span></td>
                                </tr>
                                <tr>
                                    <td>56499</td>
                                    <td>牙医管家北京站，端午3天大放“价</td>
                                    <td>2016.12.26  12:25:30</td>
                                    <td><img src="/static/erp/img/message/pic.png" width="100"></td>
                                    <td>已发布</td>
                                    <td>2548</td>
                                    <td>2548</td>
                                    <td>2548</td>
                                    <td>1</td>
                                    <td class="operate"><span>查看</span><span>下架</span><span>上移</span><span>下移</span><span>删除</span></td>
                                </tr>
                                <tr>
                                    <td>56499</td>
                                    <td>牙医管家北京站，端午3天大放“价</td>
                                    <td>2016.12.26  12:25:30</td>
                                    <td><img src="/static/erp/img/message/pic.png" width="100"></td>
                                    <td>已发布</td>
                                    <td>2548</td>
                                    <td>2548</td>
                                    <td>2548</td>
                                    <td>1</td>
                                    <td class="operate"><span>查看</span><span>下架</span><span>上移</span><span>下移</span><span>删除</span></td>
                                </tr>
                            </tbody>
                        </table>
					</div>
				</div>
			</div>
		{{template "../public/public/footer.html" .}}
	</body>
	{{template "../public/link/js_inc.html" .}}
    <script type="text/javascript">
        $(function(){
            $("#BeginDate").yayigj_date_Sel();
            $("#EndDate").yayigj_date_Sel();
            
            //加载页面获取当天日期
            $("#BeginDate").getCurrday();
            $("#EndDate").getCurrday();

            $("#mesState").yayigj_downlist({    //状态
                _hiddenID:'clinicid2',
                _valtype:'text',
                _data:[
                    {'key':'全部'},
                    {'key':'已发送'},
                    {'key':'未发送'},
                    {'key':'草稿'}
                ]	 
            });
        })
    </script>
</html>