/*分页*/
.page-bar{ margin:40px;}
ul,li{ margin: 0px; padding: 0px;display:inline-block;float: left;}
li{ list-style: none}
.page-bar li:first-child>a {margin-left: 0px}
/* 337ab7 */
.page-bar a{ border: 1px solid #ddd; text-decoration: none; position: relative; float: left; padding: 6px 12px; margin-left: -1px; line-height: 1.42857143; color: #000000; cursor: pointer}
.page-bar a:hover{ background-color: #eee;}
.page-bar a.banclick{ cursor:not-allowed;}
/* 337ab7 */
.page-bar .active a{ color: #fff; cursor: default; background-color: #146487; border-color: #337ab7;}
/* d44950 ; font-size: 12px; */
.page-bar i{ font-style:normal; color: #000000; margin: 0px 4px}