
/*---------------------------------------
  网站的常链接颜色
*----------------------------------------*/


/*---------------------------------------
  网站的常见背景颜色
  bg+颜色前2字线表示如
  .bgf8表示 background:#F8F8F8;
*---------------------------------------*/
.head_area{background-color:rgba(204,204,204,0.5)}
.left_area{background-color:rgba(204,204,204,0.4)}
/*---------------------------------------
  网站的常见边框颜色
  如:bbdd表示:border-bottom: 1px solid #ddd;
*---------------------------------------*/
input,textarea,select{
	border:solid 1px;		/*表单边框线型及粗细*/
	border-color:#fff;		/*表单边框颜色*/
  padding:5px 5px 5px 10px; /*表单内边距*/
  color: #333;
}
input:-webkit-autofill{	/*密码自动填充,黄色背景*/
	background-color:transparent;
	background-image:none;
	color:#000;	
}

input[disabled]{background-color:#F5F5F5;color:#ACA899;}
.b_c_w{border-color:#fff}
.b_solid_1{border:solid 1px}
/*---------------------------------------
  网站的常见按钮颜色 
*---------------------------------------*/


/*---------------------------------------
  网站中需要用到背景图片的放到下面区域 
  小图片背景做成一张大图使用postion方法
  定位。命名使用带编号形式如:ico1,ico2...;
*---------------------------------------*/
.b_lg_bg{ background-image:url(../img/bg1.jpg); background-size:100% 100%}


/*登入注册输入框和提交按钮样式*/
#form1 input[type=submit],#form1 input[type=button]{
  width: 283px;
  height: 40px;
  color: #fff;
  background: #00c5b5;
  font-size: 16px;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
  padding-bottom: 6px;
}
#form1 input[type=submit]:hover{background-color: #00d4c3;}
#form1 input[type=button]:hover{background-color: #00d4c3;}
#form1 input[type=text],#form1 input[type=password]{
  width: 283px;
  height: 28px;
  line-height: 28px;
  border:1px solid #cecece;
  color :#999;
  font-size: 14px;
  border-radius: 2px;
  color: #333;
}
