/*头部tab切换样式*/
textarea{resize:none!important;}
.h_top {height:49px;line-height:49px;border-bottom:1px solid #e0e0e0;}
.h_top li{float:left;height:46px;padding:0px 20px;margin:0 15px;cursor:pointer;}
.h_top li[data-flag='1']{border-bottom:3px solid #00c5b5;}
.r{height:49px;margin-top:9px;margin-right:30px;}
.r input[type='button']{display:none;float:left;margin-left:20px;}
#addclinic{display:block}
.clinci_select{margin:15px 0;float:right;font-size:14px;}
.tab_selct table{clear: both;width: 100%;border-collapse:collapse;font-size:14px;margin-bottom: 20px;}
.tab_selct table td{padding:15px 0;text-align:center;}
.tab_selct table thead tr{background-color:#fafafa;border-top:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;}
.tab_selct table tbody tr{background-color: #fff;}
.tab_selct table tbody tr:nth-child(even){background-color: #fafafa;}
.tab_selct table tbody tr:hover{background-color:#e4f9f7;}
.tab_selct table tbody tr.nodata:hover{background-color: #fff;}
.tab_selct table tbody td {}
.tab_selct table tbody td img{cursor:pointer;}
#chainInfo{display:none;}
#chainList{display:none;}
#ClincList{margin:0 15px;outline:none;}

/*关联分诊所*/
.create_clinic_bg2{width: 100%; height: 100%;position: absolute; left: 0;top: 0;background: rgba(0,0,0,0.2); z-index: 1;display: none;}
.create_clinic_bg3{width: 100%; height: 100%;position: absolute; left: 0;top: 0;background: rgba(0,0,0,0.2); z-index: 1;display: none;}
.cli_man_relaclinic{width:480px;height: 275px;background: #fff;box-shadow: 0 2px 20px rgba(0, 0, 0, 0.4);position: absolute;
left:50%;top: 50%;margin-left: -240px;margin-top: -137px;z-index: 2;border-radius: 2px;}
.cli_man_relaclinic .relative_cli_tit{height: 40px;line-height: 40px;border-bottom: 1px solid #f0f0f0;text-align: center;font-size: 16px;color: #333;}
.cli_man_relaclinic .relative_cli_tit img{position: absolute;right: 16px;top: 16px;cursor: pointer;}
.relative_cli_content{margin:40px 70px 0 70px;width: 100%;}
.relative_cli_content ul li{margin-bottom: 30px;}
.relative_cli_content ul li span{font-size: 14px;color: #696969;margin-right: 19px;}
.relative_cli_content ul li #manage_num_code{margin-right: 6px;}
.relative_cli_content ul li #relative_cli_confim{margin-left: 60px;}
.relative_bind_phone{position: absolute;left: 130px;top:117px;font-size: 14px;color: #696969;display: none;}
.manage_num_no{position: absolute;left: 130px;top:112px;display: none;}
.manage_num_no label{color: #f86d5a;font-size: 12px;}
.manage_num_no img{vertical-align: middle;margin-right: 4px;}
.check_num_no{position: absolute;left: 130px;top:171px;display: none;}
.check_num_no label{color: #f86d5a;font-size: 12px;}
.check_num_no img{vertical-align: middle;margin-right: 4px;}
.check_num_no2{left: 262px!important;top:152px;}

/*//连锁信息*/
#clinic_box{border-left:none;padding:30px 0 30px 60px;}
#clinic_remove_relative{display:none;}
.clinic{width: 621px;height:600px;;border-radius: 2px;
position: absolute;z-index: 201;background: #fff;left: 50%;top: 50%;margin-left: -310px;
margin-top: -300px;}
.exit{position: absolute;color: #cecece;right: 15px;top: 10px;cursor: pointer;}
.clinic h2{text-align: center;padding: 10px;border-color: #f2f2f2;font-size: 16px;color: #000;
font-weight: bold;}
.clinic #clinic_list{border-right: none!important;}
.clinic #clinic_list li{border-color: #f2f2f2;}
.clinic_box input.errborder{border:1px solid #f86d5a;}
.load_logo{color: #00BB9C;border:1px solid #00BB9C;padding: 8px 25px;border-radius: 4px;margin-bottom: 30px;
position: relative;bottom: 40px;left: 10px;cursor: pointer;}
.save_yn{float: right;margin:30px 0;}
.save_yn span{font-size: 14px;padding: 8px 35px;margin-left: 20px;cursor: pointer;}
.save_yn .no{color: #00BB9C;border: 1px solid #00BB9C;}
.save_yn .yes{color: #fff;background: #00BB9C;}
.clinic_edit{height: 44px;text-align: center;line-height: 44px;color: #333;font-size: 16px;
border-bottom: 1px solid #f0f0f0;}
.clinic_edit img{float: right;margin: 15px; cursor: pointer;}

#clinicid_hide{display:none;}
.right_nav{position: relative;top: 0;left: 0;}
.right_nav .estblish_one{margin-right:20px;}
.right_nav #save{float: right;margin: 16px 10px 0 0;height:32px;line-height:28px;}
.right_nav .edit_one{background-color: #fff;border:1px solid #00c5b5;color: #00c5b5;margin-right:23px;}
.clinic #clinic_list {float: left;}
#clinic_list li {width: 168px; height: 40px;line-height:40px;color: #333; border-bottom: 1px solid #eee;font-size: 14px;cursor: pointer;border-left:2px solid #fff;}
#clinic_list li[data-f='1'] {color: #00c5b5;border-left:2px solid #00c5b5;}
#clinic_list img {vertical-align: middle;margin-right: 10px;margin-left:30px;width:21px;}
.clinic .clinic_box {float: left;height: 495px;width: 420px;border-left:1px solid #f0f0f0;padding:30px 0 30px 30px!important;overflow-y: scroll;}
.clinic_box .selc{margin-top:10px;}
.clinic_box .errinfo{display: block; font-size: 12px;color: #f86d5a!important;padding-left: 20px;margin-bottom: 4px;margin-top: 4px;visibility: hidden;
 background:url(/static/account/img/red_exclam.png) left 0px no-repeat;}/*诊所档案错误提示信息*/
.selc li{float: left;margin-left:8px;}
.selc li:first-child{margin-left: 0;}
.selc select{/* color:#b4b4b4; */width: 118px;height:30px;line-height:30px;}
.clinic_box .mb30{margin-bottom: 30px;}
.clinic_box p {color: #333;}
.clinic_box p img{margin-right: 6px;vertical-align: middle;}
.clinic_box input[type='tel'] {height:30px;border:1px solid #e0e0e0;padding:0 5px;border-radius:2px;}
.clinic_box input[type='tel']:focus{outline:1px solid #00c5b5;}
.clinic_box input.errborder{border:1px solid #f86d5a;}
.clinic_box textarea{width:360px;color: #696969;height: 120px;}
.clinic_box .tm{margin-top:10px;color:#696969;}
.clinic_box .tp_img{position: relative;top:0;left: 0;}
.clinic_box .tp_img .uploadsq{display:none;}
.clinic_box .tp_img p{position: absolute;top: 0;left:125px;color:#b4b4b4;line-height:normal;}
.clinic_box .tp_img .tp_new_logo{position: absolute;top:50%;margin-top:-15px;left:110px;width:86px;height: 30px;line-height:30px;text-align:center;border:1px solid #00c5b5;display: block;color: #00c5b5;cursor: pointer;}
.clinic_box .tp_img #tp_new_credit{display:block; position:absolute;top:0;left:0; width:100px; height:100px; cursor:pointer;padding: 0;border: none;opacity: 0!important;}
.clinic_box .tp_img #tp_new_lince{display:block; position:absolute;top:0;left:0; width:100px; height:100px;cursor:pointer;padding: 0;border: none;opacity: 0!important;}
.clinic_box #clinic_f {font-size: 14px;overflow: hidden;}
#clinic_s {font-size: 14px;width: 400px;display: none;}
#clinic_s .defalut_logo{width: 100px;height: 100px;cursor: pointer;}
#clinic_f2{font-size: 14px;}
#clinic_remove_relative span{font-size: 14px;color:#696969;}
.remove_relative_con ul li{margin-bottom: 26px;}
#remove_get_code{margin: 0 6px 0 20px;}
#remove_rel_confim{margin-left:62px; }

/*档案袋样式*/
 .tab_selct .clinic_con{padding:30px;overflow: hidden;}
 .tab_selct .clinic_con ul li{background-image:url(../img/file_bag.png);width: 200px;height: 240px;float: left;
background-size: 200px 240px;margin:0 20px 20px 0;text-align: center;position: relative;cursor: pointer;}
 .tab_selct .clinic_con ul li:hover{
ransform: translate3d(0,-2px,0);
-webkit-transform: translate3d(0,-2px,0);
-moz-transform: translate3d(0,-2px,0);
-o-transform: translate3d(0,-2px,0);
-ms-transform: translate3d(0,-2px,0);
transition:all .5s ease 0s; 
-webkit-transition:all .5s ease 0s; 
-moz-transition:all .5s ease 0s;
 -o-transition:all .5s ease 0s; 
-ms-transition:all .5s ease 0s;
box-shadow: 0px 15px 30px rgba(0,0,0,0.1);
-webkit-box-shadow: 0px 15px 30px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 15px 30px rgba(0,0,0,0.1);
-o-box-shadow: 0px 15px 30px rgba(0,0,0,0.1);
-ms-box-shadow: 0px 15px 30px rgba(0,0,0,0.1);
}

 .tab_selct .clinic_con ul li img{width: 56px;position: absolute;right: 15px;top: 15px;}
 .tab_selct .clinic_con ul li .number{margin-top: 20px;font-size: 14px;}
 .tab_selct .clinic_con ul li .name{margin-top: 16px;font-size: 14px;}
 .tab_selct .clinic_con ul li .clinic_name_wh{font-size: 16px;}
 .tab_selct .clinic_con ul li div{margin-top: 116px;}
 .tab_selct .clinic_con ul li div p{color: #333;}


#clinic_s .receptionist_logo {cursor: pointer;}
#clinic_s .receptionist_logo:after {width: 100px;height: 100px;content: attr(data-logo);font-size: 80px;border: 1px dotted #999;}
#clinic_t {padding-left: 40px;font-size: 14px;color: #333;}
#clinic_t section:first-child {border-bottom: 1px solid #999;padding-bottom: 20px;}
#clinic_t p {line-height: 40px;}
#clinic_t p label {display: inline-block;width: 68px;text-align: left;}
#clinic_t p b {display: inline-block;margin-right: 2px;width: 86px;height: 9px;background: #ffa94c;}
#clinic_t section ul li {margin: 22px 0;}
#clinic_t section ul li:before {content: attr(data-icon);text-align: center;vertical-align: middle;color: #390;display: inline-block;font-size: 24px;line-height: 24px;width: 24px;height: 24px;margin-right: 6px;}
#clinic_t section ul li:last-child:before {color: #999;border-radius: 50%;border: 1px solid #999;}
#clinic_t section ul li a {float: right;}
/*弹窗*/
.file{position: relative;display: inline-block;cursor:pointer;background: #FFF;border: 1px solid #00c5b5; border-radius: 2px; padding: 3px 12px;font-family: 微软雅黑;font-size: 14px;overflow: hidden;color: #00c5b5;text-decoration: none;text-align: center;line-height: 25px;width: 62px;opacity: 1 !important;}
.file:hover {background: #00c5b5;border-color: #00c5b5;color: #FFF;text-decoration: none;}
.file input {position: absolute;right: 0px;top: 0px;height: 100%;left: 0px;width: 100%; height: 100%;font-size: 20px;opacity: 0;}
#tp_one_logo {width: 74px;top: -23px;left: 24px;}

#open_chain_box{display: none;}
#open_chain_box2{display: none;}
.ale_box{z-index:101;width: 400px;height:512px;position: absolute;top:50%;left:50%;margin-top:-260px;margin-left:-200px;text-align: center;background-color: #fff;}
.ale_box .box_h{height: 44px;line-height: 44px;position: relative;top: 0;left: 0;border-bottom:1px solid #e0e0e0;}
.ale_box .box_h .icon{position: absolute;top:50%;cursor:pointer;}
.ale_box .box_h #close_ale{right:14px;margin-top:-7px;}
.ale_box .box_h #close_ale2{right:14px;margin-top:-7px;}
.ale_box .box_h #return{left:14px;margin-top: -7px;}
.ale_box .box_logo{margin-top: 50px;}
.ale_box .p1{margin-top:44px;font-size: 14px;}
.ale_box .p11{margin:16px auto 20px auto;width: 250px;font-size: 14px;}
.ale_box input[type='text']{width:288px;height: 34px;line-height:34px;padding:0 0 0 10px;}
.ale_box input[type='button']{width:300px;height: 34px;}
.ale_box .mt30{margin-top:30px;}
.ale_box #complete{margin-top:20px;margin-bottom: 30px;}
.ale_box .code_box{color: #b4b4b4;position:relative;right:0px;top:0px;}
.code_box #getCode{position:absolute;right:55px;top:2px;cursor:pointer;width:110px;height: 
32px; color:#00c5b5;background-color:#fff;border:none;text-align:right;}
.code_box #getCode:focus{outline:none;}
.code_box #code_time{position:absolute;right:70px;top:8px;}
#qh_pop_info{display: none; margin-top:-60px;margin-left:-180px;width: 360px;height: 120px;color: #333;font-size: 14px;}
#qh_pop_info img{margin:0px 20px auto 30px;vertical-align: middle;}
#qh_pop_info span{line-height:120px;}


#manage_num{background: #f0f0f0;}