<!DOCTYPE html>
<html>
    <head>
        <title>勋章墙</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta charset="UTF-8">
        <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="black" name="apple-mobile-web-app-status-bar-style">
        <meta content="telephone=no" name="format-detection">
        <meta http-equiv="Cache-Control" content="no-transform ">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <include file="Public:css_inc"/>
        <link rel="stylesheet" type="text/css" href="__APP__/public/css/pcWindow.css">
    </head>
    <body>
        <div class="slider_box" id="medals">
            <div class="ul_title fix">
                <img class="tit_logo l" src="__APP__/public/img/tit_logo1.png">
                <div class="tit_span l">
                    <p>深圳致美口腔诊所勋章馆</p><p class="y_num">你已经为诊所贡献了<span>2</span>枚勋章，再接再厉哦~</p>
                </div>
                <span id="close" class="r"><img src="__APP__/public/img/close.png"></span>
            </div>
            <div class="mdl_lists">
                <ul class="fix">
                    <li>
                        <img class="mdl_img" src="__APP__/public/img/purchase_lv1.png" alt="">
                        <img class="get" src="__APP__/public/img/mdlHad_s.png" alt="">
                        <div class="mdl_status">我的勋章<img  src="__APP__/public/img/mdl_bg2.png" alt=""></div>
                        <p>采购小能手</p>
                    </li>
                    <li>
                        <img class="mdl_img" src="__APP__/public/img/manege_lv4.png" alt="">
                        <img class="get" src="__APP__/public/img/mdlHad_s.png" alt="">
                        <div class="mdl_status">我的勋章<img  src="__APP__/public/img/mdl_bg2.png" alt=""></div>
                        <p>处置小能手</p>
                    </li>
                    <li>
                        <img class="mdl_img" src="__APP__/public/img/appoint_lv1.png" alt="">
                        <div class="mdl_status">未领取<img  src="__APP__/public/img/mdl_bg1.png" alt=""></div>
                        <p>诊疗小能手</p>
                    </li>
                    <li>
                        <img class="mdl_img" src="__APP__/public/img/ClinicLV1.png" alt="">
                        <div class="mdl_status">已过期<img  src="__APP__/public/img/mdl_bg3.png" alt=""></div>
                        <p>手机控</p>
                    </li>
                    <li>
                        <img class="mdl_img" src="__APP__/public/img/more_medel.png" alt="">
                        <div class="mdl_status"><img  src="" alt=""></div>
                        <p>敬请期待~</p>
                    </li>
                </ul>
            </div>      
        </div>
        <div class="slider_box" id="medal_detail">
            <div class="medal_detail">
            <div class="ul_title detail_title fix">
                <span id="tit_logo" class="tit_logo l"><img src="__APP__/public/img/return.png"></span>
                <span id="close" class="r"><img src="__APP__/public/img/close.png"></span>
            </div>
                <div class="mdl_detail">
                        <div class="mdl_img"><img src="__APP__/public/img/purchase_lv1.png" alt=""></div>
                        <img class="get" src="__APP__/public/img/mdlHad_l.png" alt="">
                        <div class="mdl_status">我的勋章<img  src="__APP__/public/img/mdl_bg2.png" alt=""></div>
                        <p>采购小能手</p>
                </div>
                <div class="mdl_intr fix">
                    <p><label>勋章名称：</label><span>采购小能手</span></p>
                    <p><label>勋章状态：</label><span id="status">已领取</span></p>
                    <p><label>勋章属性：</label><span>诊所业绩都离不开我的采购，从今天起请叫我采购小能手。</span></p>
                </div>
                <div class="mdl_intr">
                    <ol class="fix">
                        <li><img src="__APP__/public/img/lottery.png"><p>现金抽奖（2次）</p><a href="">立即抽奖</a></li>
                        <li><img src="__APP__/public/img/school.png"><p>商学院课程9折</p><a href="">立即兑换</a></li>
                    </ol>
                </div>
            </div>
        </div>
     
    </body>
</html>
