<!DOCTYPE html>
<html>
<head>
<title>业绩排行榜</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta charset="UTF-8">
<meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<meta http-equiv="Cache-Control" content="no-transform ">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
<include file="Public:css_inc"/>
<link rel="stylesheet" type="text/css" href="__APP__/public/css/pcWindow.css">

</head>

<body>
    <div class="slider_box">
        <div class="ul_title fix">
            <img class="tit_logo l" src="__APP__/public/img/lv_rank.png">
            <div class="tit_span l">
                <p>业绩排名榜</p>
                <p class="y_num">你目前位列排名榜第<span>5</span>名</p> 
            </div>
            <span id="close" class="r"><img src="__APP__/public/img/close.png"></span>
        </div>
        <div class="scroll">
        <ul class="ul_lv">
            <li class="fix">
                <span class="rank first">1</span><span class="fgline">|</span>
                <img class="photo l" src="__APP__/public/img/u5148.png" alt="头像">
                <div class="user l"><p class="name">李良1医生</p> <p class="position">主任</p></div>
                <div class="lv r">￥32,432.40</div>
            </li>
            <li class="fix">
                <span class="rank second">2</span><span class="fgline">|</span>
                <img class="photo l" src="__APP__/public/img/u5148.png" alt="头像">
                <div class="user l"><p class="name">李良2医生</p> <p class="position">主任</p></div>
                <div class="lv r">￥32,432.40</div>
            </li>
            <li class="fix">
                <span class="rank third">3</span><span class="fgline">|</span>
                <img class="photo l" src="__APP__/public/img/u5148.png" alt="头像">
                <div class="user l"><p class="name">李良3医生</p> <p class="position">主任</p></div>
                <div class="lv r">￥32,432.40</div>
            </li>
            <li class="fix">
                <span class="rank">4</span><span class="fgline">|</span>
                <img class="photo l" src="__APP__/public/img/u5148.png" alt="头像">
                <div class="user l"><p class="name">李良医生</p> <p class="position">主任</p></div>
                <div class="lv r">￥2,172.40</div>
            </li>
            <li class="fix">
                <span class="rank">5</span><span class="fgline">|</span>
                <img class="photo l" src="__APP__/public/img/u5148.png" alt="头像">
                <div class="user l"><p class="name">李良医生</p> <p class="position">主任</p></div>
                <div class="lv r">￥12,932.40</div>
            </li>
            <li class="fix">
                <span class="rank">6</span><span class="fgline">|</span>
                <img class="photo l" src="__APP__/public/img/u5148.png" alt="头像">
                <div class="user l"><p class="name">李良医生</p> <p class="position">主任</p></div>
                <div class="lv r">￥321,492.40</div>
            </li>
            <li class="fix">
                <span class="rank">7</span><span class="fgline">|</span>
                <img class="photo l" src="__APP__/public/img/u5148.png" alt="头像">
                <div class="user l"><p class="name">李良医生</p> <p class="position">主任</p></div>
                <div class="lv r">￥372,432.40</div>
            </li>
            <li class="fix">
                <span class="rank">8</span><span class="fgline">|</span>
                <img class="photo l" src="__APP__/public/img/u5148.png" alt="头像">
                <div class="user l"><p class="name">李良医生</p> <p class="position">主任</p></div>
                <div class="lv r">￥52,492.40</div>
            </li>
            <li class="fix">
                <span class="rank">9</span><span class="fgline">|</span>
                <img class="photo l" src="__APP__/public/img/u5148.png" alt="头像">
                <div class="user l"><p class="name">李良医生</p> <p class="position">主任</p></div>
                <div class="lv r">￥332,432.40</div>
            </li>
            <li class="fix">
                <span class="rank">10</span><span class="fgline">|</span>
                <img class="photo l" src="__APP__/public/img/u5148.png" alt="头像">
                <div class="user l"><p class="name">李良医生</p> <p class="position">主任</p></div>
                <div class="lv r">￥132,432.40</div>
            </li>
        </ul> 
        </div>   
    </div>
</body>
</html>
