<!doctype html>
<html>
    <head>
        <title>收费设置</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta charset="UTF-8">
        <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" 
        name="viewport">
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="black" name="apple-mobile-web-app-status-bar-style">
        <meta content="telephone=no" name="format-detection">
        <meta http-equiv="Cache-Control" content="no-transform ">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <!--<include file="Public:css_inc"/>-->
        {{template "/account/Public/css_inc.html" .}}
        <link rel="stylesheet" type="text/css" href="/static/account/css/chain_strom.css">
        <link rel="stylesheet" type="text/css" href="/static/account/css/basicData.css">
    </head>
<body>
    <!--弹窗背景-->
    <div class="popup_bg"></div>
    <!--新增收费类型-->
    <div class="departs_create pop_sha_rad set_fee_type">
        <div class="clinic_edit">
            新增收费类型<img src="/static/account/img/close.png">
        </div>      
        <div class="edit_list edit_list1">
            <label class="depart_name">费用类型</label><input type="text" class="box_w268_h18" id="depart_name_add" />   
        </div>
        <div class="edit_list edit_list2">
            <label class="belong_clinic">所属诊所</label>
            <select class="box_w280_h32" id="create_cli_name">
                <option>请选择所属诊所</option>
            </select>
        </div>
        <input id="edit" type="button" value="确定" name="button" class="acb ac_btn_bf w210h30" />
    </div>
    <!--添加处置项目-->
    <div class="set_mana_item set_mana_item1">
        <div class="clinic_edit">
            添加处置项目<img src="/static/account/img/close.png">
        </div>
        <div class="set_add_item">
            <div class="set_item_div">
                <div class="set_add_item_tit">处置代码</div>
                <div><input type="text" id="manage_num" class="box_w360_h20" /></div>
            </div>
            <div class="set_item_div">
                <div class="set_add_item_tit">处置名称</div>
                <div><input type="text" id="manage_name" class="box_w360_h20" /></div>
            </div>
            <div class="set_item_div">
                <div class="set_add_item_tit">费用类型</div>
                <div><input type="text" id="manage_type" class="box_w360_h20" /></div>
            </div>
            <div class="set_item_div">
                <div class="set_add_item_tit">计费方式</div>
                <div>
                    <select id="fee_type" class="box_w372_h32" >
                        <option>请选择计费方式</option>
                        <option>按牙齿数计算</option>
                        <option>按全牙计算</option>
                    </select>
                </div>
            </div>
            <div class="set_item_div">
                <div class="set_add_item_tit">单价(元)</div>
                <div>
                    <input type="text" id="manage_way" class="box_w240_h20" placeholder="0"/>
                    <span class="discount_bor"><img src="/static/account/img/set_sel_bor.png"></span>
                    <span class="men_discount">是否按会员折扣</span>
                </div>
            </div>
            <div class="set_item_div">
                <div class="set_add_item_tit">规格</div>
                <div><input type="text" id="specifications" class="box_w360_h20" placeholder="例如: 颗/瓶/全口" /></div>
            </div>
            <div class="set_item_div">
                <div class="set_add_item_tit">备注</div>
                <div>
                    <textarea  id="set_rmark" class="box_w360_h90"></textarea>
                </div>
            </div>
            <div>
                <input type="button" value="创建" class="acb ac_btn_bf w100h30" id="set_create" />
                <input type="button" value="取消" class="acb ac_btn_nf w100h30" id="set_cancle" />
            </div>
        </div>
    </div>
    <!--修改处置项目-->
    <div class="set_mana_item set_mana_item2">
        <div class="clinic_edit">
            修改处置项目<img src="/static/account/img/close.png">
        </div>
        <div class="set_add_item">
            <div class="set_item_div">
                <div class="set_add_item_tit">处置代码</div>
                <div><input type="text" id="manage_num1" class="box_w360_h20" /></div>
            </div>
            <div class="set_item_div">
                <div class="set_add_item_tit">处置名称</div>
                <div><input type="text" id="manage_name1" class="box_w360_h20" /></div>
            </div>
            <div class="set_item_div">
                <div class="set_add_item_tit">费用类型</div>
                <div><input type="text" id="manage_type1" class="box_w360_h20" /></div>
            </div>
            <div class="set_item_div">
                <div class="set_add_item_tit">计费方式</div>
                <div>
                    <select id="fee_type1" class="box_w372_h32" >
                        <option>请选择计费方式</option>
                        <option>按牙齿数计算</option>
                        <option>按全牙计算</option>
                    </select>
                </div>
            </div>
            <div class="set_item_div">
                <div class="set_add_item_tit">单价(元)</div>
                <div>
                    <input type="text" id="manage_way1" class="box_w240_h20" placeholder="0"/>
                    <span class="discount_bor"><img src="/static/account/img/set_sel_bor.png"></span>
                    <span class="men_discount">是否按会员折扣</span>
                </div>
            </div>
            <div class="set_item_div">
                <div class="set_add_item_tit">规格</div>
                <div><input type="text" id="specifications1" class="box_w360_h20" placeholder="例如: 颗/瓶/全口" /></div>
            </div>
            <div class="set_item_div">
                <div class="set_add_item_tit">备注</div>
                <div>
                    <textarea  id="set_rmark1" class="box_w360_h90"></textarea>
                </div>
            </div>
            <div>
                <input type="button" value="保存" class="acb ac_btn_bf w100h30" id="set_create1" />
                <input type="button" value="取消" class="acb ac_btn_nf w100h30" id="set_cancle1" />
            </div>
        </div>
    </div>
    <!--删除处置项目-->
    <div class="export_staff_list" id="delete_pop" >
        <div class="clinic_edit">
            删除提示<img src="/static/account/img/close.png">
        </div>
        <div class="export_con">
          <img src="/static/account/img/wonder_icon.png" class="wonder_icon">
            <p>
              <span>确定该员工？</span><br><span>员工信息删除后，数据将不可恢复</span>
            </p>
           </div>
      <div class="export_save">
        <input type="button" class="acb ac_btn_bf_y w90h30" value="确定删除" id="delete_staff_confim" />
      </div>
    </div>
    <!--Excel导入-->
    <div class="excel_import1">
        <div class="clinic_edit">
            Excel批量导入<img src="/static/account/img/close.png">
        </div>
        <div class="up_file_div">
            <span>请选择导入文件(&nbsp;xls&nbsp;)</span>
            <span class="up_moudle"><a href="index.php?m=Handleset&a=downloadTemp">下载模板</a></span></div>
        <form method="post" enctype="multipart/form-data" id="excel_post_import">
            <div class="sel_file_div">
                <span id="file_path"></span>
                <a href="javascript:;" class="file" id="file_a">选择文件
                    <input type="file" name="file" id="file_input">
                </a>
            </div>
            <div class="up_file_btn">
                <input type="button" value="上传" class="acb ac_btn_bf w100h30" id="up_file" />
                <input type="button" value="取消" class="acb ac_btn_nf w100h30" id="up_cancle" />
            </div>
        </form>
    </div>
    <!--导入错误信息提示-->
    <div class="export_staff_list" id="excel_import_tip">
        <div class="clinic_edit">
            信息提示<img src="/static/account/img/close.png">
        </div>
        <div class="export_con">
          <img src="/static/account/img/wonder_icon.png" class="wonder_icon">
            <p>
              <span>当前表格中有<label>&nbsp;1条&nbsp;</label>错误,请修改完成后重新上传！</span>
              <span>错误详情：<label>手机号码格式不合法</label></span>
            </p>
           </div>
        <div class="export_save">
            <input type="button" class="acb ac_btn_bf w212h30" value="重新上传" id="up_staff_confim" />
        </div>
    </div>
    <!--<include file="Public:clinic_header"/>-->
    {{template "/Public/public/r_header.html" .}}
    <div class="main_con">
        <!--<include file="Public:clinic_left_nav"/>-->
        {{template "/account/Public/clinic_left_nav.html" .}}
        <div class="main_right">
            <div class="right_nav">
                <div class="clinic_tit">
                    <img src="/static/account/img/basic_fee.png">
                    <span>收费项目设置</span>
                </div>
                <div class="basci_nav_right">
                    <ul>
                        <li id="add_manage_item"><span><img src="/static/account/img/basic_add.png"></span><span>添加处置项目</span></li>
                        <li class="split_line">|</li>
                        <li class="excel_import"><span><img src="/static/account/img/basic_import.png"></span><span>Excel导入</span></li>
                        <li>
                            <div id="ifrmePop" style="display:none;">
                                <form name="myForm" id="myForm" action=""  target="myIfrme" 
                                method="post">  
                                    <input type="hidden" id="aaa" val="" />
                                    <input type="hidden" id="bbb" val="" />
                                </form>  
                                <iframe src="" name="myIfrme" width="100%" height="40"></iframe>    
                            </div>
                            <div id="postbtn">
                                <span><img src="/static/account/img/basic_out.png"></span>
                                <span>Excel导出</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!--左边的职位列表选项-->
            <div class="perm_l set_perm_l">
                <h3>收费类型<span bonClick="newAle()" id="add_ico"></span></h3>
                <ol id="clinci_lists"> </ol>
            </div>
            <!--右边处置项目-->
            <div class="set_prem_r">
                <ul id="charge_hand_item"></ul>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/static/account/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/static/account/js/chain_strom.js"></script>
    <script type="text/javascript" src="/static/account/js/setting_fee.js"></script>
    <script type="text/javascript" src="/static/account/js/charge_set.js"></script>
</body>
</html>