<!DOCTYPE html>
<html>
    <head>
    <title>历史记录</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta charset="UTF-8">
        <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="black" name="apple-mobile-web-app-status-bar-style">
        <meta content="telephone=no" name="format-detection">
        <meta http-equiv="Cache-Control" content="no-transform ">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <!--<include file="Public:css_inc"/> -->
         {{template "/account/Public/css_inc.html" .}}
        <link rel="stylesheet" type="text/css" href="/static/account/css/calendarCommon.css">
        <link rel="stylesheet" type="text/css" href="/static/account/css/historyRecord.css">  
        <link rel="stylesheet" type="text/css" href="/static/account/css/MemberCenter.css">    
    </head>	
    <body>
        <!--<include file="Public:memberCen_hea_new" />-->
         {{template "/account/Public/memberCen_hea_new.html" .}}
        <div class="mask"></div>
        <div class="main_con">
            <div class="h_main_left">
                <ul class="announcement_left">
                    <li data-flag="1"><img src="/static/account/img/his_icon2.png"><span>登录记录</span></li>
                    <li  data-flag="0"><img src="/static/account/img/opera_icon1.png"><span>操作记录</span></li>
                </ul>
            </div>
           <div class="h_main_right" data-con="1">
           		<div class="loading"></div>
                   <!--<img src="/static/account/img/loading.gif"/>加载中...-->
                <div class="search_condition">
                    <div class="time_select">
                        <span>时间范围:</span>    
                        <input type="text" data-f="cla" id="timeLine1" name="timeLine1" />      
                        <span>至</span>
                        <input data-f="cla" type="text" id="timeLine2" name="timeLine2" />
                    </div>
                    <!-- <div class="account_num">
                        <span>账号:</span>
                        <input type="text" id="userID1"/>
                    </div> -->
                    <div class="type_use">
                        <span>终端类型:</span>
                        <select data-f="0" id="termType1">
                            <option value="全部">全部</option>
                            <option value="网站">网站</option>
                            <option value="手机">手机</option>
                            <option value="PC客户端">PC客户端</option>
                        </select>
                    </div>
                    <div class="search">
                        <input type="submit" value="查询" id="login_record"/>
                    </div>
                </div>
                <table class="hisRec" id="hisRec">
                    <thead>
                        <tr>
                            <th>登录时间</th>
                            <th>登录地点</th>
                            <th>登录ip</th>
                            <th>浏览器</th>
                            <th>登录方式</th>
                            <th>登录账号</th>
                            <th>终端类型</th>
                        </tr>
                    </thead>
                    <tbody>
               			
                     </tbody>
                </table>
                <div class="minH">
                    </div>
                     
                <p id="pop_info1">暂无数据</p> 
                <div class="page_select his_s">
                	<p>每页显示<select id="pageCount_h">
                            <option>10</option><option>20</option>
                            <option>50</option>
                        </select>
                    共<b id="pageNum_h"></b>页&nbsp;&nbsp;
                    </p>
                    <div id="cur_page" class="fix l">
                        <span id="prev" class="l">&lt;</span>
                        <div id="pages" class="l">
                            
                        </div>
                        <span id="next" class="l">&gt;</span>  
                    </div> 
                </div>
            </div>
            <div class="h_main_right" data-con="0">
            <div class="loading"></div>
            <!--<img src="/static/account/img/loading.gif"/>加载中...-->
                <div class="search_condition">
                    <div class="time_select">
                        <span>时间范围:</span>    
                        <input type="text" data-f="cla" id="timeLine3" name="timeLine3" />     
                        <span>至</span>
                        <input data-f="cla" type="text" id="timeLine4" name="timeLine4">  
                    </div>
                    <!-- <div class="account_num">
                        <span>账号:</span>
                        <input type="text" id="userID2"/>
                    </div> -->
                    <div class="type_use">
                        <span>终端类型:</span>
                        <select data-f="0" id="termType2">
                            <option value="全部">全部</option>
                            <option value="网站">网站</option>
                            <option value="手机">手机</option>
                            <option value="PC客户端">PC客户端</option>
                        </select>
                    </div>
                    <div class="search">
                        <input type="submit" value="查询" id="action_record" />
                    </div>
                </div>
                <table class="hisRec" id="actRec">
                    <thead>
                        <tr>
                            <th>操作时间</th>
                            <th>操作地点</th>
                            <th>操作ip</th>
                            <th>操作记录</th>
                            <th>操作人员</th>
                            <th>终端类型</th>
                        </tr>
                    </thead>
                    <tbody>   
                  
                    </tbody>
                </table>
                 <div class="minH">
                   </div>
                 <p id="pop_info2">暂无数据</p>  
                <div class="page_select act_s">
                  	<p>&nbsp;&nbsp;每页显示   
                    	<select id="pageCount_a">
                        <option>10 </option> <option>20</option><option>50</option>
                        </select>
                        共<b id="pageNum_a">50</b>页    
                    </p>
                    <div id="cur_page_act" class="fix l">
                        <span id="prev_act" class="l">&lt;</span>
                        <div id="pages_act" class="l">
                            
                        </div>
                        <span id="next_act" class="l">&gt;</span>  
                    </div> 
                </div>
            </div>
        </div>
        </div>
       <!--<include file="Public:footer_new"/>-->
        {{template "/account/Public/footer_new.html" .}}
       <script language="javascript" src="/static/account/js/jquery-1.9.1.min.js"></script>
       <script language="javascript" src="/static/account/js/placeholade.min.js"></script>
       <script type="text/javascript" src="/static/account/js/lyz.calendar.min.js"></script>
       <script type="text/javascript" src="/static/account/js/history_record.js"></script>
    </body>
    <script type="text/javascript">
        /*日历控件*/
       
    </script>
</html>
