<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>投诉建议详情</title>
		{{template "../public/link/css_inc.html" .}}
		<link href="/static/erp/css/user.css" rel="stylesheet" />
	</head>
	<body>
		{{template "../public/public/header.html" .}}
		<div class="mainFrme">
			{{template "../public/public/left.html" .}}
			<div class="rightFrme">
				<div class="crumbs"><a href="###">主页</a> > <a href="###">用户管理</a> > <a href="###">投诉建议详情</a></div>
				<div class="cont">
					<div class="pageHeader">详情信息</div>
					<div class="detail_con">
						<div class="detail_tit">基本信息</div>
						<ul class="info_con">
							<li><span class="sp1">编号：</span><span class="sp2">9527</span></li>
							<li><span class="sp1">投诉平台：</span><span class="sp2">看牙</span></li>
							<li><span class="sp1">投诉类型：</span><span class="sp2">提建议</span></li>
							<li><span class="sp1">提交账号：</span><span class="sp2">13800138000</span></li>
							<li><span class="sp1">提交时间：</span><span class="sp2">2016.12.14  12:30:00</span></li>
							<li><span class="sp1">内容：</span><span class="sp2">
                            经常出现闪退的情况，页面缓冲不出来，经常出现闪退的情况，页面缓冲不出来，经常
                            出现闪退的情况，页面缓冲不出来<br><br>
                            <img src="/static/erp/img/message/pic.png" width="80">
                            <img src="/static/erp/img/message/pic.png" width="80">
                            </span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		{{template "../public/public/footer.html" .}}
	</body>
	{{template "../public/link/js_inc.html" .}}
</html>
