<!doctype html>
<html>
<head>
    <title>部门管理</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="UTF-8">
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" 
    name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta http-equiv="Cache-Control" content="no-transform ">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    {{template "/account/Public/css_inc.html" .}}
    <link rel="stylesheet" type="text/css" href="/static/account/css/chain_strom.css">
    <link rel="stylesheet"  type="text/css" href="/static/account/css/oneStrom.css" />
    <link rel="stylesheet" type="text/css" href="/static/account/css/upfile.css" />  
    <link rel="stylesheet" type="text/css" href="/static/account/js/css/jquery.Jcrop.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/public/css/publicFrame.css">         
</head>
<body> 
    <div class="headArea"><!--头部-->
        {{template "/Public/public/r_header.html" .}}
    </div>
    <div class="outerFrame"><!--外层主框架s-->        	
        <div class="mainFrme"><!--主框架s-->
            <div class="leftFrme" id="leftFrme">
                {{template "/account/Public/clinic_left_nav.html" .}}
            </div>
            <div class="rightFrme"><!--右框架s-->
                <div class="depart_mag main_right">
                    <div class="right_nav dep_right_nav">
                        <div class="clinic_tit">
                            <img src="/static/account/img/clinic_mana_icon.png">
                            <span>部门管理</span>
                        </div>
                        <div class="estblish_one"  id="create_apart">新增部门</div>
                    </div>
                    <div class="departs">
                        <!-- 部门列表-->
                        <div class="ul_head">
                            <span class="d_name">部门名称</span>
                            <span class="d_belong">工作场所</span>
                            <span class="d_person">部门人数</span>
                            <span class="d_handle">操作&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        </div>
                        <ul class="depart_ul" id="depart_ul">
                        </ul>
                    </div>
                </div>
            </div><!--右框架e-->
        </div><!--主框架e-->
    </div><!--外层主框架e-->
        
    <!--弹窗背景-->
    <div class="popup_bg"></div>
     <!--/*创建部门*/-->
    <div class="departs_create pop_sha_rad">
        <div class="clinic_edit">
            新增部门<img src="/static/account/img/close.png" onClick="closeDeparts()">
        </div>      
        <div class="edit_list edit_list1">
            <label class="depart_name">部门名称</label>
            <input type="text" class="box_w268_h18" id="depart_name_add" />   
            <div id="form_tip_depname"><img src="/static/account/img/red_exclam.png">请输入部门名称</div>
        </div>
        <div class="edit_list edit_list2" style="overflow:hidden;">
            <label class="belong_clinic" style="float:left;margin:6px 15px 0 115px;">工作场所</label>
            <!--<select class="box_w280_h32" id="create_cli_name">
                <option>未指定工作场所</option>
            </select>-->
            <div id="create_cli_name" style="width:272px; height:22px; border:solid 1px #e0e0e0; padding:3px;float:left;font-size:14px;color:#333;text-align:left;"></div>
            <div id="form_tip_cliplace"><img src="/static/account/img/red_exclam.png">请指定工作场所</div>
        </div>
        <input id="edit" type="button" value="确定" name="button" class="acb ac_btn_bf w210h30" />
    </div>
     <!--/*编辑部门*/-->
    <div class="departs_edit pop_sha_rad">
        <div class="clinic_edit">
            编辑部门<img src="/static/account/img/close.png" onClick="closeDeparts()">
        </div>      
        <div class="edit_list edit_list1">
            <label class="depart_name">部门名称</label>
            <input type="text" class="box_w268_h18" id="new_dep_name" /> 
            <div id="form_tip_depname2"><img src="/static/account/img/red_exclam.png">请输入部门名称</div> 
        </div>
        <div class="edit_list edit_list2">
            <label class="belong_clinic">工作场所</label>
            <input type="text" class="box_w268_h18" id="edit_cli_dep" disabled="true" style="background:#f0f0f0;"/>
            <div id="form_tip_cliplace2"><img src="/static/account/img/red_exclam.png">请输入部门名称</div> 
        </div>
        <input id="edit_dep_new" type="button" value="确定" name="button" class="acb ac_btn_bf w210h30" />
    </div>
    <!--/*编辑员工*/-->
    <div class="staff_edit pop_sha_rad" >
        <div class="edit_staff_title">
            <span class="ed_sp1">编辑部门成员</span><span class="ed_sp2" id="edit_dep_staff"></span>
            <span class="ed_sp3" onClick="closeStaff()"><img src="/static/account/img/close.png"></span>
        </div>
        <div class="staff_list">
            <!--左边的 请选择员工列表-->
            <div class="list_l">
                <p>请选择员工</p>
                <div class="l_box">
                    <div class="box_h">
                        <input type="text" placeholder="搜索员工" id="edit_staff_search" />
                        <span id="staff">所有人</span>
                        <span id="depart">部门</span>
                        <span id="selc"></span>
                        <span id="close"></span>
                    </div>
                    <div class="box_c edit_staff_boxc">
                        <div id="staff_list">
                            <p>按拼音A-Z排序</p>
                            <ul id="all_by_name"></ul>
                        </div>
                        <div id="depart_list">
                            <ol id="all_by_dept"></ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 中间的箭头-->
            <div class="list_m">
                <img src="/static/account/img/middle_dep_dirct.png" alt=""/>
            </div>
            <!-- 右边的 当前部门员工-->
            <div class="list_r">
                <p>当前部门员工(<span id="list_num"></span>)</p>
                <div class="r_box">
                    <ol id="pres_dep_staffs"></ol>
                </div>
            </div>
        </div>
        <div class="dep_input">
            <input type="button" value="确定" class="acb ac_btn_bf w100h30 dep_confim" id="edit_staff_confim"/>
            <input type="button" value="取消" onclick="closeStaff()" class="acb ac_btn_nf w100h30" />
        </div>
    </div>      
    <!-- /*删除部门*/-->
    <div id="depart_remove" class="pop_sha_rad">
        <div class="clinic_edit">
            删除提示<img src="/static/account/img/close.png" onClick="closeRemove()">
        </div>  
        <div class="box_con">
            <img src="/static/account/img/wonder_icon.png">
            <div class="word_wonder">
                <p>确定要删除部门？</p>
            </div>
        </div>
        <div class="remove_confim">
            <input type="button" value="确定删除" id="remove_sure2" />
        </div>
    </div>  
    <script type="text/javascript" src="/static/account/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/static/public/yayigj_dialog_box.js"></script>
    <script type="text/javascript" src="/static/public/yayigj_downlist.js"></script>
    <script type="text/javascript" src="/static/public/yayigj_date_sel.js"></script>
    {{template "/account/Public/clinic_js_inc.html" .}}
    <script type="text/javascript" src="/static/account/js/chain_strom.js"></script>
    <script type="text/javascript" src="/static/account/js/depart_manage.js"></script>
</body>
</html>
