<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta charset="UTF-8">
        <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="black" name="apple-mobile-web-app-status-bar-style">
        <meta content="telephone=no" name="format-detection">
        <meta http-equiv="Cache-Control" content="no-transform ">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <!--<include file="Public:css_inc"/>-->
        {{template "/account/Public/css_inc.html" .}}
        <link rel="stylesheet" type="text/css" href="/static/account/css/calendarCommon.css">
        <link rel="stylesheet" type="text/css" href="/static/account/css/chain_strom.css">
        <link rel="stylesheet" type="text/css" href="/static/public/css/publicFrame.css">   
        <title>编辑员工资料</title>    
    </head>
    <body>
      <input type="hidden" name="edit" value="edit">
    <!--遮罩层黑色透明背景-->
    <div class="mask"></div>
    <!--弹出框背景-->
        <div class="sta_man_bg"></div>
    <!---->
    <!--多点执业弹窗-->
    <div class="pop_sha_rad" id="add_more" aria-placeholder="wei">
      <div class="pop_h">
          添加多点执业 <span class="close_pop" id="close_pop_ico"></span>
      </div>
      <div class="pop_b">
          <p>工作诊所</p>
          <div class="pop_item">
            <select id="pop_clinic">
                <option value="">未指定工作诊所</option>
            </select>
            <p class="errpop">诊所不能为空</p>
          </div>
          <p>员工编号</p>
          <div class="pop_item">
            <input type="text" id="pop_num" placeholder=""/>
            <p class="errpop">员工编号不能为空</p>
          </div>  
          <p>员工职位</p>
          <div class="pop_item">
            <select id="pop_duty">
                <option value="">未指定职位</option>
            </select>
            <p class="errpop">员工职位不能为空</p>
          </div>
          <p>所属科室</p>
          <div class="pop_item">
            <select id="pop_depart">
              <option value="">未指定科室</option>
            </select>
            <p class="errpop">员工科室不能为空</p>
          </div>
      </div>
      <div class="pop_f">
        <input type="button" id="save_pop_btn" class="acb ac_btn_bf" value="保存">
        <input type="button" id="close_pop_btn" class="acb ac_btn_nf" value="取消">
      </div>
    </div>
    <!--删除的提醒弹窗-->
      <div class="export_staff_list" id="delete_pop" >
            <div class="export_tit">
                <span class="export_listz_sp">系统提示</span>
                <span class="close_alert"><img src="/static/account/img/close.png"></span>
            </div>
            <div class="export_con">
                <img src="/static/account/img/wonder_icon.png" class="qh_pop_info">
                <p><span>该诊所信息将被删除，是否确认删除?</span></p>
            </div>
            <div class="export_save">
              <input type="button" class="acb ac_btn_bf_y w90h30" value="确定" id="delete_confirm">
            </div>
        </div>

    <!---->
    <div class="headArea"><!--头部-->
            	{{template "/Public/public/r_header.html" .}}
    </div>
    <div class="outerFrame"><!--外层主框架s-->        	
        <div class="mainFrme"><!--主框架s-->
            <div class="leftFrme" id="leftFrme">
              {{template "/account/Public/clinic_left_nav.html" .}}
            </div>
            <div class="rightFrme"><!--右框架s-->
              <div class="main_right">
                  <div class="right_nav">
                      <div class="clinic_tit">
                          <a href="/clinic/index"><img class="worker_info_img" src="/static/account/img/back_round1.png" id="work_info_back"></a>
                          <span class="fgline">|</span>
                          <span>编辑员工资料</span>
                      </div>
                      <div class="estblish_one add_info_save" id="add_staff_save">保存</div>
                  </div>
                  <div>
                        <li class="creatID">
                              <span>登录账号</span>
                              <input type="text" id="login_phone"  name="login_phone" class="login_phone ronly" placeholder="请输入员工手机号码" readonly/>
                              <p id="err_info" class="err_info">此号码已被占用!请重新输入</p>
                        </li>
                        <div class="essenatial_info person_info">
                            <p class="staff_tit">基本信息
                              <!--<img class="jp_line" src="/static/account/img/jp_line.png" alt="" />-->
                              <i class="jp_line"> </i>
                            </p>
                            <ul>
                              <li class="name">
                                <span>&nbsp;&nbsp;姓名</span>
                                <input type="text" name="worker_name" class="worker_name"/>
                                <label id="err_info2" class="err_info"></label>
                              </li>
                              <li class="phonenum">
                                <span>&nbsp;&nbsp;手机号</span>
                                <input type="text"  name="worker_phone" class="worker_phone" />
                                <label id="err_phone" class="err_info"></label>            
                              </li>
                              <li class="birthday">
                                <span>&nbsp;&nbsp;生日</span>
                                <input type="text"  name="worker_birthday" class="worker_birthday"  id="bir_a" />
                              </li>
                              <li class="sex">
                                <span>&nbsp;&nbsp;性别</span>
                                <span>
                                  <span class="mL26">
                                    <input type="radio" name="sex" value="男"  id="man"><label for="man"></label><label for="man">&nbsp;&nbsp;男</label>
                                  </span>
                                  <span class="mL50">
                                    <input type="radio" name="sex" value="女" id="woman"><label for="woman"></label><label for="woman">&nbsp;&nbsp;女</label>
                                  </span>
                                </span>
                              </li>
                            </ul>
                        </div>
                        <div class="essenatial_info"  id="work_info_ul">
                          <!--<img class="vm" src="/static/account/img/work_info.png">-->
                            <p class="staff_tit staff_tit2">工作信息
                              <i class="jp_line"> </i>
                              <!--<img class="jp_line" src="/static/account/img/jp_line.png" alt="" />-->
                            </p>
                            <div id="ddInfo">
                              
                            </div>
                            <div class="add_selc">
                                <span id="add_selc">添加多个工作场所</span>
                            </div>
                       </div>
                   </div>
              </div>
            </div>
        </div>
    </div>
       <script type="text/javascript" src="/static/account/js/jquery-1.9.1.min.js"></script>
       {{template "/account/Public/clinic_js_inc.html" .}}
       <script type="text/javascript" src="/static/account/js/chain_strom.js"></script>
       <script language="javascript" src="/static/account/js/placeholade.min.js"></script>
       <script type="text/javascript" src="/static/public/yayigj_date_sel.js"></script>
       <script src="/static/public/yayigj_dialog_box.js"></script>
       <script src="/static/public/yayigj_downlist.js"></script>
       <script type="text/javascript" src="/static/account/js/edit_staff_info.js"></script>
    </body>
</html>
