<div id="info_pop_div"></div><!--信息息弹层-->
<script>function popdivAnim(x,txt){$('#info_pop_div').text(txt).css("top",$(document).scrollTop()+300).show();$('#info_pop_div').removeClass().addClass(x+' animated').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend',function(){$(this).removeClass();window.setTimeout(function(){$('#info_pop_div').fadeOut()},1000)})};</script>
<div id="footer" class="fix">
	<ul class="fix">
    	<li><a href="http://www.dental360.cn/" target="_blank">牙医管家首页</a></li><li>/</li>
        <li><a href="http://soft.dental360.cn/aboutus" target="_blank">关于我们</a></li><li>/</li>
        <li><a href="http://soft.dental360.cn/contactus" target="_blank">联系我们</a></li><li>/</li>
        <li><a href="http://soft.dental360.cn/help/xieyi" target="_blank">服务条款</a></li>
    </ul>
    <p>Copyright &copy;2016 深圳市易云健康有限公司 <a href="http://www.miitbeian.gov.cn/" target="_blank">粤ICP备14073835号</a></p>
</div>

