<script type="text/javascript" src="/static/account/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/static/account/js/placeholade.min.js"></script>

<!-- 左边导航切换样式-->
<!--<script type="text/javascript">
	$("#nav_left li").click(function(){
		$("#nav_left li span[data-sp='1']").attr("data-sp","0")
		$(this).find("span").attr("data-sp","1");
	}) 
	$("."+cur_mName).css({"backgroundColor":"#00c5b5"});
	$("."+cur_mName+" "+"span").css({"color":"#fff"});
	var index=$("."+cur_mName).index();
	var index1=index+1;
	$("."+cur_mName+" "+"img").attr("src","/static/account/img/men_nav"+index1+"1.png");
	
</script>-->
