<header>
<div class="member_header fix">
   <div class="l">
        <ul>
            <li><div id="u1065"> <img src="/static/account/img/logo.png" alt="牙医管家"></div></li>
            <li class="fline">|</li>
            <li><span>个人中心</span></li>
        </ul>                   
    </div>
    <div class="r">         
        <span class="register"><a href="">首页</a></span>
        <span><a href="#">口腔管理平台</a></span>
        <span><a href="#">义齿加工平台</a></span>  
        <span><a href="#">商学院</a></span>          
    </div>
</div>
</header>