  <div class="right_nav">
       <div  class="nav">
           <ul>
               <!--<li id="nav_top_1"><a href="/clinicmember/index" class="staff_management">员工列表</a></li>-->
               <!--<li><a href="__APP__/index.php?m=OneStrom&a=approval_staff" class="approval_staff">审批员工</a></li>
               <li><a href="index.php?m=OneStrom&a=turnover_handover" class="turnover_handover">离职交接</a></li>-->
                <!--<li id="nav_top_2"><a href="/clinicmember/appoint_adminsrater" data-operate="0">指定管理员</a></li> -->
                <li class="staff_list_title">员工管理</li>
           </ul>
       </div>
       <div class="search">
           <input type="text" placeholder="输入员工名称或手机号码查询"  id="search_condition" />
           <i id="clearSelct"></i>
           <input type="button" value="查询" id="select_staff" class="acb ac_btn_bf" />
       </div>
   </div>
   <script type="text/javascript">
   		// var cur_Line="{{.clinic_tag}}";
		// var cur_Name='staff_management';
   </script>