<div class="OneStrom fix">
      <div class="strom_l"> <span class="strom_logo">LOGO</span> <strong>YAYI360</strong> </div>
      <div class="strom_m">
        <ul id="ul_list">
          <li data-s="0"><a href="__APP__/index.php?m=OneStrom&a=index" title="">概览</a></li>
          <li data-s="1"><a href="__APP__/index.php?m=OneStrom&a=staff_management" title="">诊所</a></li>
          <li data-s="0"><a href="" title="">连锁</a></li>
          <li data-s="0"><a href="javascript:;" title="">营销</a></li>
          <li data-s="0"><a href="javascript:;" title="">统计</a></li>
        </ul>
      </div>
      <div class="strom_r"> <b class="strom_notes" ><img data-num="6" src=/static/account/img/u5026.png" alt=""></b> <b id="strom_user">
        <ul id="user_lists">
          <li><a href="javascript:;">个人中心</a></li>
          <li><a href="javascript:;">编辑资料</a></li>
          <li class="cre"></li>
          <li><a href="javascript:;">我的社区(<span class="00BB9C">10</span>)</a></li>
          <li><a href="javascript:;">下载牙医管家</a></li>
          <li class="cre"></li>
          <li id="exit"><a href="javascript:;">退出登录</a></li>
        </ul>
        </b> </div>
 </div>