<div class="r_left_cont">
	<div class="leftNav">
		<div class="r_left_head menu_show_btn" id="left_nav_btn_hide">菜单导航</div>
		<div id="js_left_nav">
			<div class="left_nav_item">
				<span data-tags="0" class="account1">连锁管理</span>
				<div class="left_nav_item_second">
					<a href="/clinic/index">员工管理</a>
	           		<a href="/clinic/multidepartmanage">部门管理</a>
	           		<a href="/clinic/prichainpertmanage">权限管理</a>
	           		<a href="/clinic/chainmanage">门诊管理</a>
	           		<a href="/clinic/chaininfo">连锁信息</a>
				</div>
			</div>			
		</div>
	</div>
	<div class="leftNavSmall">
		<div class="r_left_head menu_hide_btn" id="left_nav_btn_show"></div>
		<div id="js_left_nav_small">
			<div class="left_nav_small_item account1" >
				<div class="left_nav_small_item_second">
					<a href="/clinic/index">员工管理</a>
	           		<a href="/clinic/multidepartmanage">部门管理</a>
	           		<a href="/clinic/prichainpertmanage">权限管理</a>
	           		<a href="/clinic/chainmanage">门诊管理</a>
	           		<a href="/clinic/chaininfo">连锁信息</a>
				</div>
			</div>			
		</div>
	</div>
</div>