<link href="/static/public/css/public/r_reset.css" rel="stylesheet" />
<link href="/static/public/css/public/r_publicFrame.css" rel="stylesheet" />
<link href="/static/public/css/public/r_border.css" rel="stylesheet" />
<link href="/static/public/css/public/r_index.css" rel="stylesheet" />

<link href="/static/public/css/public/r_font.css" rel="stylesheet" />
<link href="/static/public/css/public/r_ico.css?ver=2017121801" rel="stylesheet" />
<link href="/static/public/css/public/r_input.css" rel="stylesheet" />
<link href="/static/public/css/public/r_table.css" rel="stylesheet" />
<link href="/static/public/css/public/r_common.css" rel="stylesheet" />

{{template "/public/link/css.html" .}}  