<!DOCTYPE html>
<html>
    <head>
    <title>最新公告</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta charset="UTF-8">
        <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="black" name="apple-mobile-web-app-status-bar-style">
        <meta content="telephone=no" name="format-detection">
        <meta http-equiv="Cache-Control" content="no-transform ">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <!--<include file="Public:css_inc"/>-->
        {{template "/account/Public/per_css_inc.html" .}}
        <link rel="stylesheet" type="text/css" href="/static/account/css/messageCenter.css">
        <link rel="stylesheet" type="text/css" href="/static/account/css/memberCenter.css">         
    </head>
    <body>
       <!--<include file="Public:memberCen_hea_new" />-->
       {{template "/account/Public/memberCen_hea_new.html" .}}
        <div class="main_con">
            <div class="m_main_left">
                <ul class="announcement_left">
                    <li data-flag="1"><img src="/static/account/img/new_icon2.png"><span>活动公告</span></li>
                    <li  data-flag="0"><img src="/static/account/img/act_icon1.png"><span>活动预告</span></li>
                </ul>
            </div>
           <div class="main_right" data-con="1">
                <div class="message_announce">
                    <ul>
                        <li>2016<span class="year_circle"></span></li>
                        <li class="announce_list" data-active='1'>【牙医管家】数据恢复推送通知
                        【牙医管家】数据恢复推送通知【牙医管家】数据恢复推送通知
                        【牙医管家】数据恢复推送通知【牙医管家】数据恢复推送通知
                        【牙医管家】数据恢复推送通知【牙医管家】数据恢复推送通知
                        【牙医管家】数据恢复推送通知【牙医管家】数据恢复推送通知
                        【牙医管家】数据恢复推送通知【牙医管家】数据恢复推送通知
                            <div class="time_circle"><span>08/15</span><span class="circle"></span></div>
                            <div class="announce_detail">
                                <div class="detail">
                                    尊敬的用户:<br><br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    您好！谢谢！<br><br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                    给广大用户带来的不便敬请谅解！
                                </div>
                                <div class="by_order">
                                    <p>牙医管家</p>
                                    <p>2016-8-22</p>
                                </div>
                            </div>
                        </li>
                        <li class="announce_list">【牙医管家】数据恢复推送通知
                            <div class="time_circle"><span>08/15</span><span class="circle"></span></div>
                            <div class="announce_detail">
                                <div class="detail">
                                    尊敬的用户:<br><br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    您好！订单接口数据8月11日晚已恢复，此次恢复接口暂时只推送已支付成功的订单，未支付订单暂不推送，预计最快下周四恢复推送全部订单。另外之前未返回数据会尽快恢复，请广大网站主知晓，谢谢！
                                    <br><br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;给广大用户带来的不便敬请谅解！
                                </div>
                                <div class="by_order">
                                    <p>牙医管家</p>
                                    <p>2016-8-22</p>
                                </div>
                            </div>
                        </li>
                        <li class="announce_list">【牙医管家】数据恢复推送通知
                            <div class="time_circle"><span>08/15</span><span class="circle"></span></div>
                            <div class="announce_detail">
                                <div class="detail">
                                    尊敬的用户:<br><br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;您好！订单接口数据8月11日晚已恢复，此次恢复接口暂时只推送已支付成功的订单，未支付订单暂不推送，预计最快下周四恢复推送全部订单。另外之前未返回数据会尽快恢复，请广大网站主知晓，谢谢！<br><br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    给广大用户带来的不便敬请谅解！
                                </div>
                                <div class="by_order">
                                    <p>牙医管家</p>
                                    <p>2016-8-22</p>
                                </div>
                            </div>
                        </li>
                        <li class="announce_list">【牙医管家】数据恢复推送通知
                            <div class="time_circle"><span>08/15</span><span class="circle"></span></div>
                            <div class="announce_detail">
                                <div class="detail">
                                    尊敬的用户:<br><br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;您好！订单接口数据8月11日晚已恢复，此次恢复接口暂时只推送已支付成功的订单，未支付订单暂不推送，预计最快下周四恢复推送全部订单。另外之前未返回数据会尽快恢复，请广大网站主知晓，谢谢！<br><br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    给广大用户带来的不便敬请谅解！
                                </div>
                                <div class="by_order">
                                    <p>牙医管家</p>
                                    <p>2016-8-22</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="more_con">
                    载入更多内容<img src="/static/account/img/more.png">
                </div>
            </div>
            <div class="main_right" data-con="0">
                <div class="message_announce">
                    <ul>
                        <li>2016<span class="year_circle"></span></li>
                        <li class="announce_list" data-active='1'>222222222222222222222222222
                        【牙医管家】数据恢复推送通知【牙医管家】数据恢复推送通知
                        【牙医管家】数据恢复推送通知【牙医管家】数据恢复推送通知
                        【牙医管家】数据恢复推送通知【牙医管家】数据恢复推送通知
                        【牙医管家】数据恢复推送通知【牙医管家】数据恢复推送通知
                        【牙医管家】数据恢复推送通知【牙医管家】数据恢复推送通知
                            <div class="time_circle"><span>08/15</span><span class="circle"></span></div>
                            <div class="announce_detail">
                                <div class="detail">
                                    尊敬的用户:<br><br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    您好！谢谢！<br><br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    给广大用户带来的不便敬请谅解！<a href="#" id="view_detail">【查看详情】</a>
                                </div>
                                <div class="by_order">
                                    <p>牙医管家</p>
                                    <p>2016-8-22</p>
                                </div>
                            </div>
                        </li>
                        <li class="announce_list">【牙医管家】数据恢复推送通知
                            <div class="time_circle"><span>08/15</span><span class="circle"></span></div>
                            <div class="announce_detail">
                                <div class="detail">
                                    尊敬的用户:<br><br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    您好！订单接口数据8月11日晚已恢复，此次恢复接口暂时只推送已支付成功的订单，未支付订单暂不推送，预计最快下周四恢复推送全部订单。另外之前未返回数据会尽快恢复，请广大网站主知晓，谢谢！<a href="#" id="view_detail">【查看详情】</a>
                                    <br><br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;给广大用户带来的不便敬请谅解！
                                </div>
                                <div class="by_order">
                                    <p>牙医管家</p>
                                    <p>2016-8-22</p>
                                </div>
                            </div>
                        </li>
                        <li class="announce_list">【牙医管家】数据恢复推送通知
                            <div class="time_circle"><span>08/15</span><span class="circle"></span></div>
                            <div class="announce_detail">
                                <div class="detail">
                                    尊敬的用户:<br><br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;您好！订单接口数据8月11日晚已恢复，此次恢复接口暂时只推送已支付成功的订单，未支付订单暂不推送，预计最快下周四恢复推送全部订单。另外之前未返回数据会尽快恢复，请广大网站主知晓，谢谢！<br><br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    给广大用户带来的不便敬请谅解！<a href="#" id="view_detail">【查看详情】</a>
                                </div>
                                <div class="by_order">
                                    <p>牙医管家</p>
                                    <p>2016-8-22</p>
                                </div>
                            </div>
                        </li>
                        <li class="announce_list">【牙医管家】数据恢复推送通知
                            <div class="time_circle"><span>08/15</span><span class="circle"></span></div>
                            <div class="announce_detail">
                                <div class="detail">
                                    尊敬的用户:<br><br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;您好！订单接口数据8月11日晚已恢复，此次恢复接口暂时只推送已支付成功的订单，未支付订单暂不推送，预计最快下周四恢复推送全部订单。另外之前未返回数据会尽快恢复，请广大网站主知晓，谢谢！<br><br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    给广大用户带来的不便敬请谅解！<a href="#" id="view_detail">【查看详情】</a>
                                </div>
                                <div class="by_order">
                                    <p>牙医管家</p>
                                    <p>2016-8-22</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="more_con">
                    载入更多内容<img src="/static/account/img/more.png">
                </div>
            </div>
            <div class="main_right" data-con="0">
                <div class="message_announce">
                   <article>
                   		<h1>【牙医管家商学院】单把牙椅如何做到年业绩400w</h1>
                        <p id="small">来源：<small id="source">牙医管家</small>日期:<span id="date">2016-12-3 10:32</span></p>
                        <section>
                        	<p>单把牙椅如何做到年业绩400万】单把牙椅如何做到年业绩400万】单把牙椅如何做到年业绩400万】单把牙椅如何做到年业绩400万】单把牙椅如何做到年业绩400万】</p>
                            <div id="theme"><img src="/static/account/img/theme.png" alt="" /></div>
                           牛顿说：“如果我比别人看的更远那是因为我在站在巨人的肩膀上”，买了房的幸福吗？首先，你交的真是首期，拿到的除了房子还有负债，没把贷款还清前，房子不是你的。可笑的是房奴连这最简单的道理都不懂，给个首期，每个月还要供按揭，就到处对人说，我有房子了。买了房子房子就是他们这几十年的唯一奋斗目标了，可以说是生活的重心，唯一的高兴的就是账面价格的上升，某楼盘开盘又升了多少，生活在纸面富贵+现金流抓襟肘的矛盾中。同时，生活质量大降，以前随便买的现在看都不敢看，想要孩子一算其中有一个要不工作，另一个马上就压力山大，有父母做后盾必要时能顶一下的还好点，没有的，天天战战兢兢，怕出意外了，怕工作丢了，供不起房子，一家子睡大街。
                        </section>
                        <div class="pn"><a id="prev" href="">上一篇:【课程预告】朱丽娅---民营口腔</a> <a href="" id="next">下一篇：没有更多</a></div>
                   </article>
                </div>
           </div>
        
        </div>
       <!--<include file="Public:footer_new"/>
       <include file="Public:js_inc"/>-->
       {{template "/account/Public/footer_new.html" .}}
       {{template "/account/Public/js_inc.html" .}}
       <script type="text/javascript" src="/static/account/js/message_center.js"></script>
    </body>
</html>
