<div id="body_left">
	<!-- 头部logo -->
	<div class="header">
		<ul>
			<li class="logo"><img src="/static/ant/img/Dentist6.png"  />
				&nbsp;后台管理
			</li>
		</ul>
	</div>
	<!-- 左侧栏 -->
	<div id="leftNav">
		<p>套餐申请管理<span class="triangle"></span><img class="nav_btn" src="/static/ant/img/up.png" alt="up"></p>
		<ul>
			<li data-tag='0'><a href="/member/AlipayList">支付宝申请用户列表</a></li>
			<li data-tag='0'><a href="/member/WechatList">微信申请用户列表</a></li>
			<li data-tag='0'><a href="/member/BuyerList">订单中心</a></li>
			<li data-tag='0'><a href="/member/PromCodeList">推广码管理</a></li>
		</ul>
	</div>
</div>
