<div class="footerWrap">
	<div class="footer">
    	<dl>
        	<dt>产品</dt>
        	<dd><a href="https://www.dental360.cn/Project/standardEdition" target="_blank">牙医管家</a></dd>
            <dd><a href="https://www.dental360.cn/Index/app" target="_blank">APP</a></dd>
            <dd><a href="https://www.dental360.cn/Index/ecshop" target="_blank">耗材商城</a></dd>
            <dd><a href="https://www.dental360.cn/Index/falseTooth" target="_blank">义齿加工平台</a></dd>
            <dd><a href="https://www.dental360.cn/Index/businessInstitute" target="_blank">牙医管家商学院</a></dd>
            <dd><a href="http://www.fussenct.com/" target="_blank">医疗硬件</a></dd>
        </dl>
        <dl>
        	<dt>公司</dt>
        	<dd><a href="https://www.dental360.cn/News" target="_blank">资讯与活动</a></dd>
            <dd><a href="https://www.dental360.cn/Index/aboutUs#contactUs" target="_blank">联系我们</a></dd>
            <dd><a href="https://www.dental360.cn/Index/aboutUs" target="_blank">关于我们</a></dd>
            <dd><a href="https://www.dental360.cn/Index/serviceTerms" target="_blank">用户协议</a></dd>
        </dl>
        <dl>
        	<dt>案例</dt>
        	<dd><a href="https://www.dental360.cn/News/newsCase/type/pro" target="_blank">专业版案例</a></dd>
            <dd><a href="https://www.dental360.cn/News/newsCase/type/standard" target="_blank">标准版案例</a></dd>
        </dl>
        <dl>
        	<dt>客服支持</dt>
        	<dd>+ 86 400-660-5770</dd>
            <dd>周一～五 09:00-18:00</dd>
            <dd>kf@fussenct.com</dd>
        </dl>
    </div>
</div>
<div class="copyrightWrap">
	<div class="copyright">
    	Copyright &copy;2016 深圳市易云健康有限公司 粤ICP备14073835号 <a href="https://www.dental360.cn/">口腔软件</a> <i class="i1"><div class="qqAct"></div></i><i class="i3"><div class="qrcodeAct"></div></i>
    </div>
</div>

