<div class="topbar op">
	<div class="topbarIn">
    	<div class="logo"><a href="https://www.dental360.cn/"><img src="/static/ant/img/logo.png" alt="牙医管家"></a></div>
        <div class="logoDes">- 服务超过20000+诊所，牙科行业领导品牌</div>
        <!--<div class="register link"><a href="###" target="_blank">注册</a></div>
        <div class="login link"><a href="###" target="_blank">登录</a></div>-->
        <ul>
        	<li class="navitem">
			<a href="javascript:void();">产品</a>
			<ul class="subnav" id="ss">
				<li><a href="https://www.dental360.cn/Project/standardEdition">牙医管家标准版</a></li>
				<li><a href="https://www.dental360.cn/Project/professionalEdition">牙医管家专业版</a></li>
				<li><a href="https://www.dental360.cn/Index/app">牙医管家APP</a></li>
			</ul>
		</li>
            <li class="navitem"><a href="https://www.dental360.cn/#download">下载</a></li>
	     	<!-- <li class="navitem"><a href="../discuz/bbs/forum.php">社区</a></li> -->	
            <li class="navitem"><a href="https://www.dental360.cn/News">新闻</a></li>
            <li class="navitem"><a href="http://www.dental360.cn/flybear/helpnew/index.php?fileid=37148350785829588" target="_blank">帮助</a></li>	
	     <if condition="$isLogin eq 0">
             <!--<li class="login_btn login_btn_bd "><a href="../account/index.php?m=Login">登录</a></li>
             <li class="login_btn reg_btn_bd"><a href="../account/index.php?m=Register">免费注册</a></li>-->
	     <else/>
	     <!--<li class="face_pic"><img id="myFace"  src="<{$face_pic}>" width="25" height="25"></li>-->
	     </if>	 		 
        </ul>
    </div>
</div>  
<div class="per_pho_select" id="per_pho_select">
	<p><a href="../account/index.php?m=MemberCenter" target="_blank">个人中心</a></p>
	<p><a href="../account/index.php?m=MemberCenter&a=member_per_info">编辑资料</a></p>
	<p><a href="../account/index.php?m=MyCommunity">我的社区</a></p>
	<p><a href="http://www.dental360.cn/#download">下载牙医管家</a></p>
	<p><a href="../account/index.php?m=Login&amp;a=logout">退出登录</a></p>
</div>