<!DOCTYPE html>
<html>
    <head>
        <title>注册</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
     	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
     	<meta charset="UTF-8">
        <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="black" name="apple-mobile-web-app-status-bar-style">
        <meta content="telephone=no" name="format-detection">
        <meta http-equiv="Cache-Control" content="no-transform ">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <!--<include file="Public:css_inc"/>-->
        {{template "/account/Public/css_inc.html" .}} 
        <link rel="stylesheet" type="text/css" href="/static/account/css/register.css">        
    </head>
    <body>
        <div class="topbar">
            <div class="topbarIn">
                <div class="logo"><a href="http://www.dental360.cn/" target="_blank"><img src="/static/ant/img/logo.png" alt="牙医管家"></a></div>
                <!--<div class="logoDes">欢迎注册</div>
                <div class="loginAndRegister">
                    <a href="#" >已有账号</a>
                    <a href="Index" class="login_a">请登录</a>
                </div>-->
            </div>
        </div>
       <div class="reg_con">
            <div class="check_clinic">
                <a href="/member/regcreateclinic" class="cre_img_a"><img src="/static/account/img/create_newclinic.png" id="create_clinic"></a><a href="/member/regrelaclinic"><img src="/static/account/img/relative_clinic.png" id="relative_clinic"></a>
            </div>
       </div>
       <!--<include file="Public:footer_new"/>-->
       {{template "/account/Public/footer_new.html" .}} 
       <script type="text/javascript" src="/static/account/js/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="/static/account/js/placeholade.min.js"></script>
       <script type="text/javascript" src="/static/account/js/register_js.js"></script>
       <!--IE支持placeholder-->
       <script type="text/javascript">  
            $(function(){ $('input, textarea').placeholder(); });
        </script>
    </body>
</html>
