<!doctype html>
<html>
<head>
<title>用户注册协议</title>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta charset="UTF-8">
        <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="black" name="apple-mobile-web-app-status-bar-style">
        <meta content="telephone=no" name="format-detection">
        <meta http-equiv="Cache-Control" content="no-transform ">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <!--<include file="Public:css_inc"/>-->
        {{template "/account/Public/css_inc.html" .}} 
        <link rel="stylesheet" type="text/css" href="/static/account/css/register.css">    
</head>

<body>
<div class="topbar">
            <div class="topbarIn">
                <div class="logo"><a href="http://www.dental360.cn/"><img src="/static/ant/img/logo.png" alt="牙医管家"></a></div>
               <!--  <div class="logoDes">牙医管家</div>
               <div class="loginAndRegister">
                   <a href="index.php?m=MemberCenter" class="login_a">首页</a>
                   <a href="#" >口腔管理平台</a>
                   <a href="#" >义齿加工平台</a>
                   <a href="#" >商学院</a>
               </div> -->
            </div>
        </div>
<div class="serviceCont">
	<h1>牙医管家用户注册协议</h1>
    <p class="indent">牙医管家（www.dental360.cn/）由深圳市易云健康有限公司（以下统称“易云健康”）负责运营。易云健康依据本协议的规定通 过牙医管家为用户提供服务，本协议在用户和易云健康之间具有合同的法律效力。</p>
    <p class="indent">易云健康在此特别提醒用户认真阅读、充分理解本协议各条款，特别是其中所涉及的免除、限制易云健康责任的条款、对用户权利限制条款、争议解决和法律适用等条款。</p>
	<p class="indent">请用户审慎阅读并选择是否接受本协议。除非用户接受本协议所有条款，否则用户无权使用易云健康于本协议下所提供的服务。点击“同意以 下协议并注册”按钮后，本协议即构成对双方有约束力的法律文件。</p>
	<h3>一，接收条款</h3>
	<p>1. 本协议内容包括协议正文及所有易云健康已经发布或将来可能发布的各类规则。所有规则为协议不可分割的一部分，与协议正文具有同等法律效力。</p>
	<p>2. 以任何方式进入牙医管家并使用服务即表示您已充分阅读、理解并同意接受本协议的条款和条件（以下统称“条款”）。</p>
	<p>3. 易云健康有权根据业务需要酌情修订“条款”，并以网站公告的形式进行更新，不再单独通知用户。经修订的“条款”一经在牙医管家公布， 即产生效力。如用户不同意相关修订，请立即停止使用“服务”。如用户继续使用“服务”，则将视为已接受经修订的“条款”，当用户与易云健康发生争议时，应以最新的“条款”为准。</p>
	<h3>二，账户注册</h3>
	<p>1. 牙医管家的各项服务的所有权和运作权归易云健康所有。为了保障用户的权益，用户按照注册页面提示填写信息、阅读并同意本协议且完成全部注册程序后，成为牙医管家的正式用户，即受本协议的约束。用户可以使用用户名，确认的邮箱、手机号码或者易云健康允许的其它方式作为登录手段进入牙医管家。</p>
	<p>2. 用户必须是具有完全民事行为能力的自然人，或者是具有合法经营资格的实体组织。无民事行为能力人、限制民事行为能力人以及无合法经营资格的组织不得注册为牙医管家用户或超过 其民事权利或行为能力范围使用牙医管家提供的服务，如在牙医管家进行服务交易的，其服务协议自始无效，易云健康有权立即停止与该用户的交易、注销（永久冻结）该用户账户，并有权要求其承担相应的法律责任。</p>
	<p>3. 用户点击同意本协议的，即视为用户确认自己具有享受牙医管家提供的服务等相应的权利能力和行为能力，能够独立承担法律责任，并且对用户在服务环节中提供的所有信息的真实性负责。</p>
	<h3>三，用户信息</h3>
    
    <p>1. 基于易云健康所提供的平台服务的重要性，在完成注册后，用户同意：（1）提供真实、准确、完整、合法有效的个人资料；（2）用户有义务维护并更新用户资料，确保其为真实、准确、最新及完整。</p>
    <p>2. 如用户提供任何错误、虚假、过时或不完整的资料，或者易云健康有合理的理由怀疑资料为错误、虚假、过时或不完整，易云健康有权向用户发出询问及/或要求改正的通知，并有权直接做出删除相 应资料的处理，直至暂停或终止用户的账户，并拒绝用户使用服务的部分或全部功能。易云健康不承担任何责任，用户同意负担因此所产生的直接或间接的任何支出。</p>
    <p>3. 尊重用户个人隐私是易云健康的基本原则。对用户在牙医管家进行浏览、使用管理系统、购买服务等活动时，涉及的用户真实姓名（名称）、通信地址、联系电话、电子邮箱、客户资料等隐私信息的， 易云健康将予以严格保密，除非得到用户的授权或法律另有规定，易云健康不会向外界披露用户隐私信息。</p>
    
	<h3>四，账户安全</h3>
    <p>1. 用户注册成功后，易云健康将为用户开通一个账户，作为用户在使用牙医管家服务及在牙医管家交易时的唯一身份标识，该账户的用户名和密码由用户负责保管，且须对在该账户和密码下发生的所有活动 （包括但不限于信息披露、发布信息、网上点击同意或提交各类规则协议、网上续签协议或购买服务等）承担责任。</p>
    <p>2. 用户使用牙医管家服务时，应谨慎、合理、安全地保存和使用用户名及密码，用户应对以其用户名和密码进行的操作和交易活动负责。用户如发现任何非法使用用户帐号或存在安全漏洞的情况，应立即通知奥笛 思科技并向公安机关报案。</p>
    <p>3. 用户确保在每个上网时段结束时，以正确步骤离开网站/服务。易云健康不能也不会对因您未能遵守本款规定而发生的任何损失负责。易云健康对用户的请求采取行动需要合理时间，易云健康对在采取行动前已 经产生的后果（包括但不限于您的任何损失）不承担任何责任。</p>
   
	<h3>五，服务终止</h3>
    <p>1. 用户同意，在易云健康未向用户收费的情况下，易云健康可自行全权决定以任何理由 (包括但不限于易云健康认为用户已违反本协议的字面意义和精神，或用户以不符合本协议的字面意义和精神的方式行事) 终止用户的“服务”密码、账户 (或其任何部份) 或用户对“服务”的使用。</p>
    <p>2. 用户同意，在易云健康向您收费的情况下，易云健康应基于合理的怀疑且经电子邮件通知的情况下实施上述终止服务的行为。用户进一步承认和同意，易云健康根据本协议规定终止用户服务的情况下可立即使用户 的账户无效，或注销用户的账户以及账户内的所有相关资料和档案，和/或禁止用户进一步接入该等档案或“服务”。账户终止后，易云健康没有义务为用户保留原账户中或与之相关的任何信息，或转发任何未曾阅读或发送的信息 给用户或第三方。此外，用户同意，易云健康不会就终止向用户提供“服务”而对用户或任何第三者承担任何责任。</p>
    <p>3. 用户有权向易云健康要求注销用户的账户，经易云健康审核同意的，易云健康将注销用户的账户，届时，用户与易云健康基于本协议的合同关系即终止。用户的账户被注销后，易云健康没有义务为该用户 保留或向该用户披露用户账户中的任何信息，也没有义务向该用户或第三方转发任何未曾阅读或发送过的信息。</p>
    <p>4. 用户理解并同意，用户与易云健康的合同关系终止后：</p>
    <p>a) 易云健康有权继续保存用户的资料。</p>
    <p>b) 用户在使用服务期间存在违法行为或违反本协议和/或规则的行为的，易云健康仍可依据本协议向该用户主张权利。</p>
    <p>c) 用户在使用服务期间因使用服务与其他用户之间发生的关系，不因本协议的终止而终止，其他用户仍有权向该该用户主张权利，该用户应继续按其承诺履行义务。</p>
    <p>5. 如用户连续三年未使用邮箱、手机或本网站认可的其他方式和密码登录过本网站，该用户的登录账户可能被注销，不能再登录，所有牙医管家服务将同时终止。</p>
    <p>6. 用户同意并授权易云健康，如用户在牙医管家有欺诈、发布或销售伪劣商品、虚假服务，侵权他人合法权益或其他严重违反任意牙医管家规则的行为，该用户的登录账户可能被注销，不能再登录，所有牙医管家服务将同时终止。</p>
    <h3>六，牙医管家服务</h3>
    <p>1. 通过牙医管家及其关联公司提供的平台服务和其它服务，用户可在牙医管家上发布服务信息、查询服务内容和交易信息、达成交易意向并进行交易、参加牙医管家组织的活动以及使用其它信息服务及技术服务。</p>
    <p>2. 用户在牙医管家上交易过程中与其他用户发生交易纠纷时，一旦用户自身或其它用户任一方或双方共同提交平台要求调处，则易云健康有权根据单方判断做出调处决定，用户了解并同意接受易云健康的判断和调处决定。</p>
    <p>3. 用户了解并同意，易云健康有权应政府部门（包括司法及行政部门）的要求，向其提供用户向牙医管家提供的用户信息和交易记录等必要信息。如用户涉嫌侵犯他人知识产权等合法权益，则易云健康亦有权在 初步判断涉嫌侵权行为存在的情况下，向权利人提供用户必要的身份信息。</p>
    <p>4. 用户在使用牙医管家服务过程中，所产生的应纳税赋，以及一切硬件、软件、服务及其它方面的费用，均由用户独自承担。</p>
    <h3>七，牙医管家服务使用规范</h3>
    <p>1. 在牙医管家上使用平台服务过程中，用户承诺遵守以下约定：</p>
    <p>a) 在使用牙医管家服务过程中实施的所有行为均遵守国家法律、法规等规范性文件及牙医管家各项规则的规定和要求，不违背社会公共利益或公共道德，不损害他人的合法权益，不偷逃应缴税费，不违反本协议及相关规则。 用户如果违反前述承诺，产生任何法律后果的，应以自己的名义独立承担所有的法律责任，并确保易云健康免于因此产生任何损失。</p>
    <p>b) 在与平台其他用户交易过程中，遵守诚实信用原则，不采取不正当竞争行为，不扰乱网上交易的正常秩序，不从事与网上交易无关的行为。</p>
    <p>c) 不发布国家禁止销售的或限制销售的商品或服务信息（除非取得合法且足够的许可），不发布涉嫌侵犯他人知识产权或其它合法权益的商品或服务信息，不发布违背社会公共利益或公共道德或易云健康认为不适合在牙医管家上 销售的商品或服务信息，不发布其它涉嫌违法或违反本协议及各类规则的信息。</p>
    <p>d) 不以虚构或歪曲事实的方式不当评价其他用户，不采取不正当方式制造或提高自身的信用度，不采取不正当方式制造或提高（降低）其他用户的信用度。</p>
    <p>e) 不对牙医管家上的任何数据作商业性利用，包括但不限于在未经易云健康事先书面同意的情况下，以复制、传播等任何方式使用牙医管家网站上展示的资料。</p>
    <p>f) 不使用任何装置、软件或例行程序干预或试图干预牙医管家的正常运作或正在牙医管家上进行的任何交易、活动。用户不得采取任何将导致不合理的庞大数据负载加诸牙医管家网络设备的行动。</p>
    <p>2. 用户了解并同意：</p>
    <p>a) 易云健康有权对用户是否违反上述承诺做出单方认定，并根据单方认定结果适用规则予以处理或终止向用户提供服务，且无须征得该用户的同意或提前通知到该用户。</p>
    <p>b) 基于维护牙医管家交易秩序及交易安全的需要，易云健康有权在发生恶意购买等扰乱市场正常交易秩序的情形下，执行关闭相应交易订单等操作。</p>
    <p>c) 经国家行政或司法机关的生效法律文书确认用户存在违法或侵权行为，或者易云健康根据自身的判断，认为用户的行为涉嫌违反本协议和/或规则的条款或涉嫌违反法律法规的规定的，则易云健康有权在牙医管家上公示该用户的 涉嫌违法或违约行为及易云健康已对该用户采取的相关措施。</p>
    <p>d) 对于用户在牙医管家上发布的涉嫌违法或涉嫌侵犯他人合法权利或违反本协议和/或规则的信息，易云健康有权不经通知该用户即予以删除，且按照规则的规定进行处罚。</p>
    <p>e) 对于用户在牙医管家上实施的行为，包括用户未在牙医管家上实施但已经对牙医管家及其用户产生影响的行为，易云健康有权单方认定用户行为的性质及是否构成对本协议和/或规则的违反，并据此作出相应处罚。用户应自行保存与自身行为 有关的全部证据，并应对无法提供充要证据而承担的不利后果。</p>
    <p>f) 对于用户涉嫌违反承诺的行为对任意第三方造成损害的，用户均应当以自己的名义独立承担所有的法律责任，并应确保易云健康免于因此产生损失或增加费用。</p>
    <p>g) 如果用户涉嫌违反有关法律或者本协议之规定，使易云健康遭受任何损失，或受到任何第三方的索赔，或受到任何行政管理部门的处罚，该用户应当赔偿易云健康因此造成的损失及（或）发生的费用，包括合理的律师费用。</p>
    
    
    <h3>八，责任范围和责任限制</h3>
    <p>1. 易云健康负责按"现状"和"可得到"的状态向您提供牙医管家服务。但易云健康对牙医管家服务不作任何明示或暗示的保证，包括但不限于牙医管家服务的适用性、没有错误或疏漏、持续性、准确性、可靠性、适用于某一特定用途。 同时，易云健康也不对牙医管家服务所涉及的技术及信息的有效性、准确性、正确性、可靠性、质量、稳定、完整和及时性作出任何承诺和保证。</p>
    <p>2. 用户了解牙医管家上的服务信息系用户自行发布，且可能存在风险和瑕疵。牙医管家仅作为交易地点，牙医管家仅作为用户获取物品或服务信息、物色交易对象、就物品和/或服务的交易进行协商及开展交易的场所，但易云健康无法控制交易 所涉及的物品的质量、安全或合法性，商贸信息的真实性或准确性，以及交易各方履行其在贸易协议中各项义务的能力。用户应自行谨慎判断确定相关物品及/或信息的真实性、合法性和有效性，并自行承担因此产生的责任与损失。</p>
    <p>3. 除非法律法规明确要求，或出现以下情况，否则，易云健康没有义务对所有用户的信息数据、商品（服务）信息、交易行为以及与交易有关的其它事项进行事先审查：</p>
    <p>a) 易云健康有合理的理由认为特定用户及具体交易事项可能存在重大违法或违约情形。</p>
    <p>b) 易云健康有合理的理由认为用户在牙医管家的行为涉嫌违法或不当。</p>
    <p>4. 易云健康或易云健康授权的第三方或用户与易云健康一致同意的第三方有权基于用户不可撤销得授权受理用户与其他用户因交易产生的争议，并有权单方判断与该争议相关的事实及应适用的规则，进而作出处理决定，包括但不限于调整相关订单 的交易状态，指令易云健康将争议货款的全部或部分支付给交易一方或双方。该处理决定对该用户有约束力，如该用户未在限期内执行处理决定的，则易云健康有权利（但无义务）直接使用该用户账户内的款项，或该用户向易云健康交纳的保证金代为支付。 用户应及时补足保证金并弥补易云健康的损失，否则易云健康有权直接抵减该用户在其它合同项下的权益，并有权继续追偿。</p>
    <p>5. 用户理解并同意，易云健康或易云健康授权的第三方或用户与易云健康一致同意的第三方（并非司法机构），仅能以普通人的身份对证据进行鉴别，易云健康或易云健康授权的第三方或用户与淘宝一致同意的第三方对争议的调处完全是基于 该用户不可撤销得授权，其无法保证争议处理结果符合用户的期望，也不对争议调处结论承担任何责任。如该用户因此遭受损失，该用户同意自行向受益人索偿。</p>
    <p>6. 用户了解并同意，易云健康不对因下述任一情况而导致用户的任何损害赔偿承担责任，包括但不限于利润、商誉、使用、数据等方面的损失或其它无形损失的损害赔偿 (无论易云健康是否已被告知该等损害赔偿的可能性) ：</p>
    <p>a) 使用或未能使用牙医管家服务。</p>
    <p>b) 第三方未经批准的使用用户的账户或更改用户的数据。</p>
    <p>c) 通过牙医管家服务购买或获取任何商品、样品、数据、信息或进行交易等行为或替代行为产生的费用及损失。</p>
    <p>d) 用户对牙医管家服务的误解。</p>
    <p>e) 任何非因易云健康的原因而引起的与牙医管家服务有关的其它损失。</p>
    <p>7. 不论在何种情况下，易云健康均不对由于信息网络正常的设备维护，信息网络连接故障，电脑、通讯或其他系统的故障，电力故障，罢工，劳动争议，暴乱，起义，骚乱，生产力或生产资料不足，火灾，洪水，风暴，爆炸，战争，政府行为，司法 行政机关的命令或第三方的不作为而造成的不能服务或延迟服务承担责任。</p>
    
    <h3>九，法律适用、管辖与其他</h3>
    <p>1. 本协议的订立、执行和解释及争议的解决均应适用中华人民共和国法律。</p>
    <p>2. 本协议包含了用户使用牙医管家需遵守的一般性规范，用户在使用牙医管家某个服务、频道时还需遵守适用于该服务、频道的特殊性规范（具体请参见用户与该服务、频道签署的其他协议以及规则等内容）。一般性规范如与特殊性规范不一致或有冲突，则特殊性规范具有优先效力。</p>
    <p>3. 如发生易云健康服务条款与中国法律相抵触时，则该等条款将按法律规定解释，而其他条款继续有效。</p>
    <p>4. 如用户与易云健康就本协议内容或其履行等发生的一切争议，双方应努力通过友好协商解决；协商不能解决时，任何一方均应将争议提交深圳市易云健康有限公司所在地有管辖权的人民法院诉讼解决。</p>
</div>
<!--<include file="Public:footer_new" />-->
{{template "/account/Public/footer_new.html" .}} 
</body>
</html>
