/*========================
  网站的常用文字颜色 zlb 2016-09-26
*========================*/
.txt_00c5b5{color:#00c5b5}
.txt_333{color:#333}
.txt_666{color:#666}
.txt_999{color:#999}
.txt_ccc{color:#ccc}

/*========================
  网站的常链接颜色 zlb 2016-09-26
*========================*/
a{text-decoration:underline; color:#666}
a:hover{color:#333}
a:focus{outline:none}
a:active{color:#000}

/*========================
  网站的常见背景颜色 zlb 2016-09-26
*========================*/
.bgc_00c5b5{background-color:#00c5b5}
.bgc_F0F0F0{background-color:#f0f0f0}

/*========================
  网站的常见边框颜色  zlb 2016-09-26
*========================*/
.bd{border:solid 1px}
.bdL{border-left:solid 1px}
.bdR{border-right:solid 1px}
.bdT{border-top:solid 1px}
.bdB{border-bottom:solid 1px}
.bd_cf0{border-color:#F0F0F0; }
.bd_ce0{border-color:#e0e0e0}
.bd_c00c5b5{border-color:#00c5b5}

/*========================
  网站的常见按钮风格定义 zlb 2016-09-26
*========================*/
/*按钮禁用色*/
input[disabled]{background-color:#f0f0f0;color:#FFF;border:solid 1px #CDCDCD;} 
input[disabled]:hover{background-color:#f0f0f0;}

input.disable,input[type=text].disable{background-color:#f0f0f0;color:#FFF;border:solid 1px #CDCDCD;} 
input.disable:hover,input[type=text].disable:hover{background-color:#f0f0f0;}

input[type=text].error{border:solid 1px #f86d5a}
input[type=text]:focus.error{border: solid 1px #f86d5a}


/*文字不可点击样式*/
.disable{color: #cdcdcd;cursor: default;}
a.disable{color: #cdcdcd;cursor: default;}

/*按钮公共样式*/
.acb{border-radius: 2px; font-size:14px; height:30px; width:100px;outline:none;cursor:pointer} 	

/*实底填充*/
.ac_btn_bf{background-color: #47a6a0;color:#fff!important; border:solid 1px #00c5b5; } 
.ac_btn_bf:hover{background-color:#55c6bf;color:#fff;}/*悬浮变色*/
.ac_btn_bf:active{background-color:#328b83;color:#fff;}/*按下变色*/
/*橘黄色按钮实底填充*/
.ac_btn_bf_y{background-color: #f86d5a;color:#fff!important; border:solid 1px #f86d5a; } 
.ac_btn_bf_y:hover{background-color:#ff5d40;color:#fff;}/*悬浮变色*/
.ac_btn_bf_y:active{background-color:#f85748;color:#fff;}/*按下变色*/
  
/*空心按钮类*/
.ac_btn_nf{background-color:#fff;border:solid 1px #00c5b5; color:#00c5b5;}
.ac_btn_nf:hover{background-color:#00c5b5; color:#fff;}/*悬浮变色*/
.ac_btn_nf:active{background-color:#00bcaa; color:#fff;}/*按下变色*/

/*大小规格*/
.w120h32{width:120px; height:32px;} /* w=120 h=32*/
.w100h30{width:100px!important; height:30px!important;}
.w90h30{width:90px!important; height:30px!important;}
.w110h35{width:110px; height:35px;}
.w150h30{width:150px; height:30px;}
.w106h40{width:106px;height:40px;}
.w200h40{width:300px;height:40px;}
.w96h30{width: 96px;height: 30px;}
.w210h30{width: 210px;height: 30px;}
.w110h30{width: 110px;height: 30px;}
.w212h30{width: 212px!important;height: 30px;}
.w72h30{width: 72px;height: 30px;}


/*========================
 网站表单控件风格定义【不含button,已经在上面定义】 
 zlb 2016-09-26
*========================*/
input[type='password'],input[type='text'],select{height:28px}
textarea,select,input[type='text'],input[type='password']{padding:5px 5px 5px 5px; 
border-radius:2px; border:solid 1px #e0e0e0; color:#333; font-size:14px}
textarea:focus,input[type='text']:focus,select:focus,
input[type='password']:focus{border:solid 1px  #00c5b5;outline: none}

/*大小规格*/
.box_w260{width:260px;}
.box_w200{width:200px;}
.box_w300{width:288px;}
.box_w190{width:178px;}
.box_w372_h32{width: 372px;height: 32px!important;}
.box_w260_h32{width: 260px;height: 32px!important;}
.box_w248_h18{width: 248px;height: 18px!important;}
.box_w233_h18{width: 238px;height: 18px!important;}
.box_w138_h18{width: 138px;height: 18px!important;}
.box_w288_h18{width: 288px;height: 18px!important;}
.box_w268_h18{width: 268px;height: 18px!important;}
.box_w280_h32{width: 280px;height: 32px!important;}
.box_w360_h20{width: 360px;height: 18px!important;}
.box_w360_h90{width: 360px;height: 88px!important;}
.box_w240_h20{width: 240px;height: 18px!important;}
.box_w156_h30{width: 144px;height: 18px!important;}
.box_w180_h30{width: 168px;height: 18px!important;}
.box_w180{width: 180px;}
.box_w70{width: 70px;}
.box_h30{height: 30px!important;}

/*input:-webkit-autofill{background-color:transparent;background-image:none;color:#000;}*/

/*========================
  带黑色背景弹窗 弹窗部分阴影与圆角
  2016-9-30 黄凯
*========================*/
.pop_sha_rad{box-shadow: 0 2px 20px rgba(0, 0, 0, 0.4);border-radius: 2px;}


/*---------------------------------------
  网站中需要用到背景图片的放到下面区域 
  小图片背景做成一张大图使用postion方法
  定位。命名使用带编号形式如:ico1,ico2...;
*---------------------------------------*/
.b_lg_bg{ background-image:url(../img/bg1.jpg); background-size:100% 100%}


/*登入注册输入框和提交按钮样式*/
/*#form1 input[type=submit],#form1 input[type=button]{
  width: 283px;
  height: 40px;
  color: #fff;
  background: #00c5b5;
  font-size: 16px;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
  padding-bottom: 6px;
}
#form1 input[type=submit]:hover{background-color: #00d4c3;}
#form1 input[type=button]:hover{background-color: #00d4c3;}
#form1 input[type=text],#form1 input[type=password]{
  width: 283px;
  height: 28px;
  line-height: 28px;
  border:1px solid #cecece;
  color :#999;
  font-size: 14px;
  border-radius: 2px;
  color: #333;
}*/

/*滚动条样式*/
/*::-webkit-scrollbar{width:8px;height:8px;}
::-webkit-scrollbar-thumb:horizontal:hover {background-color:#00c5b5;transition: 0.5s all;}
::-webkit-scrollbar-thumb:vertical:hover {background-color:#00c5b5;transition: 0.5s all;}
::-webkit-scrollbar-track-piece{background-color:#fafafa;-webkit-border-radius: 0px;}
::-webkit-scrollbar-thumb:vertical{height:4px;background-color:#d9d9d9;-webkit-border-radius:6px;}
::-webkit-scrollbar-thumb:horizontal{width:4px;background-color:#d9d9d9;-webkit-border-radius:6px;}*/
::-webkit-scrollbar{width:15px !important;height:15px !important; }
::-webkit-scrollbar-thumb:horizontal:hover {background-color:#c5c5c5 !important;transition: 0.5s all;}
::-webkit-scrollbar-thumb:vertical:hover {background-color:#c5c5c5 !important;transition: 0.5s all;}
::-webkit-scrollbar-track-piece{background-color:#fafafa !important;-webkit-border-radius: 0px;}
::-webkit-scrollbar-thumb:vertical{height:4px;background-color:#d9d9d9 !important;-webkit-border-radius:0px  !important;}
::-webkit-scrollbar-thumb:horizontal{width:4px;background-color:#d9d9d9 !important;-webkit-border-radius:0px  !important;}

/*没有数据时*/
.nodataIcon{position: relative;}
.nodataIcon:after{content: '';position: absolute;width: 100px; text-align: center;margin:auto;left: 0px; top: 100px; right: 0px; background: url(../img/no-data.png) center no-repeat;width:240px;height: 280px}

/*返回按钮样式*/
.title_return{display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: -6px;
    background: url(/static/public/img/return.png) no-repeat left center;
    cursor: pointer;    margin-left: 5px;}
.title_return:hover{background-image: url(/static/public/img/return2.png)}
.title_return:hover:focus{background-image:url(/static/public/img/return3.png);}