/*=======================
	整个分站线色配置  zlb 2016-11-20
	线色，背景色在此控制，考虑后期风格切换
	在此添加样式须经 曾令兵||李琴||范明亮 许可
/*=======================*/

/*---------------------------------------
 背景色色控制 
 ----------------------------------------*/
 .outerFrame{background:#F0F0F0;border-color:#f0f0f0 !important}  				/*主框架背景/线色配置*/
 .headArea{background-color:#F0F0F0;border-color:#f0f0f0 !important}		/*整站头部背景/线色配置*/
 .leftFrme{background-color:#fff;border-color:#f0f0f0 !important}					/*整站内容区左部背景/线色配置*/
 .rightFrme{background-color:#fff;border-color:#f0f0f0 !important}					/*整站内容区右部背景/线色配置*/
 

/*---------------------------------------
 线色控制 
 ----------------------------------------*/
.bdc_EEE{border-color:#eee !important} 
.bdc_F6{border-color:#F6F6F6 !important}

/*---------------------------------------
 线型控制 
 ----------------------------------------*/
.bda{border:solid 1px}
.bdb{border-bottom: solid 1px}		/*底部线*/
.bdt{border-top: solid 1px}				/*顶部线*/
.bdl{border-left: solid 1px}				/*左部线*/
.bdr{border-right: solid 1px}			/*右部线*/
.dbw{border:solid 20px}					/*本站表格外线宽*/

/*---------------------------------------
 圆角参数控制
 ----------------------------------------*/
 .bdradius{border-radius:2px 2px 2px 2px}  /*顺时针方向*/
 
/*---------------------------------------
 滚动条样式 
 ----------------------------------------*/
::-webkit-scrollbar{width:8px;height:8px;}
::-webkit-scrollbar-thumb:horizontal:hover {background-color:#00c5b5;transition: 0.5s all;}
::-webkit-scrollbar-thumb:vertical:hover {background-color:#00c5b5;transition: 0.5s all;}
::-webkit-scrollbar-track-piece{background-color:#fafafa;-webkit-border-radius: 0px;}
::-webkit-scrollbar-thumb:vertical{height:4px;background-color:#d9d9d9;-webkit-border-radius:6px;}
::-webkit-scrollbar-thumb:horizontal{width:4px;background-color:#d9d9d9;-webkit-border-radius:6px;}
