<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>报名信息</title>
		
		<link rel="stylesheet" href="/static/oem/djd/css/upgrade.css" />
        <link rel="stylesheet" href="/static/public/css/public/r_m_input.css" />
        <link rel="stylesheet" href="/static/oem/djd/css/m_djd.css" />
	</head>
	<body>
	   <div class="m_success">
            <div class="wait_img"><img src="/static/oem/djd/img/wait.png"></div>
       
           <div class="wait_title">等待处理</div>
           <dl>
               <dt>我们将会在5个工作日内审核您提交的资料</dt>
               <dd>如有疑问，请联系客服<span>400-660-5770</span></dd>
           </dl>
           <div class="backhome" id="backhome">返回首页</div>
        </div>
	</body>
    <script type="text/javascript" src="/static/public/js/jquery/jquery-1.9.1.min.js"></script>
	<script>
    $(function(){
        $('#backhome').on('click',function(){
            window.location.href='https://dental360.cn/'
        })
    })

	</script>

</html>
