<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>test</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<meta name="author" content="lock">
<!--[if lt IE 9]>
    <script src="/static/js/html5shiv.js"></script>
    <script src="/static/js/respond.min.js"></script>
<![endif]-->
</head>
<body>
<div class="container">
  <div class="row">
    <div class="container">
      <section class="error-wrapper text-center">
        <h2>dberro页面</h2>
        <h3>数据库执行错误！</h3>
        <a class="back-btn" href="javascript:history.back();"> Back To Home</a> </section>
    </div>
  </div>
</div>
</body>
</html>