.r_header{ height:50px; font-size: 14px; margin: 0 10px; text-align: left; position: relative;}
.r_headerMenu{ width: 80px; height: 32px; float: left; margin: 9px 0 0 0; line-height: 32px;  padding-left: 42px; cursor: pointer; position: relative; -ms-user-select:none; -moz-user-select: none; -webkit-user-select: none;}
.r_headerMenuDown::after{ width: 8px; height: 4px; content: ''; background: url(/static/public/img/r_header/down.png); position: absolute; top: 16px; right: 8px;}
.r_headerMenuUp::after{ width: 8px; height: 4px; content: ''; background: url(/static/public/img/r_header/up.png); position: absolute; top: 16px; right: 8px;}

.r_select{width:360px;height: 204px;padding: 0px 10px 10px 10px;background: #fff;box-shadow: 0 0 12px #888888;position: absolute;top: 45px;left: 70px;z-index: 100;display: none;}
.r_select ul{ width: 100%; height: auto; overflow: hidden; float: left; list-style: none;}
.r_select ul li{ width:68px; height: 24px; float: left;margin:20px 2px 0 2px; font-size: 12px;color: #333; padding-top: 58px; text-align: center; line-height: 24px; position: relative;}
.pointer{cursor: pointer;}
.noJur{ width: 52px; height: 52px; top: 0; left: 8px; position: absolute;}
.noJur:hover{ background: url(/static/public/img/homeImg/no_mission_m.png);}
.r_select p.act{ background: url(/static/public/img/homeImg/miconbg.png) no-repeat;}

.r_user{ width: auto; height: 32px; float: right; margin-top: 9px; padding: 0 18px 0 20px; font-size: 14px;color: #333; line-height: 32px;cursor: pointer; position: relative; -ms-user-select:none; -moz-user-select: none; -webkit-user-select: none;}
.r_userDown::after{ width: 8px; height: 4px; content: ''; background: url(/static/public/img/r_header/down.png); position: absolute; top: 16px; right: 0px;}
.r_userUp::after{ width: 8px; height: 4px; content: ''; background: url(/static/public/img/r_header/up.png); position: absolute; top: 16px; right: 0px;}
.r_login{ width: auto; height: 20px; float: right;  line-height: 20px; margin-top: 15px;  padding: 0 21px 0 30px; position: relative;}
.r_login::after{ width: 1px;height: 20px; position: absolute;content: ''; background: url(/static/public/img/r_header/line.png); top: 0; right: 0;}
.r_loginType1{ background: url(/static/public/img/r_header/loginType1.png) no-repeat;}
.r_loginType2{ background: url(/static/public/img/r_header/loginType2.png) no-repeat;}

.r_userInfo{ width: 255px; height: 322px; position: absolute; z-index: 100; top: 33px; right: -9px; background: url(/static/public/img/r_header/user_bg.png); display: none; padding: 14px 0 0 9px; font-size: 14px; color: #333;}
.r_userInfo2{ width: 255px; height: 322px; position: absolute; z-index: 100; top: 33px; right: 11px; background: url(/static/public/img/r_header/user_bg.png); display: none; padding: 14px 0 0 9px; font-size: 14px; color: #333;}
.r_userDetail{ width: 218px; height: 58px; float: left; background: #f8f9fb; line-height: 26px; padding: 8px 12px 0 16px;}
.r_userDetail p{ line-height: 26px;}
.r_userTitle{ width: 246px; height: 34px;  float: left; line-height: 34px; text-indent: 12px; background: #fff;}
.r_userImg{ width: 246px; height: 65px; float: left; background: #f8f9fb; padding-top: 15px; cursor: pointer;}
.r_userImg span.sp1{ width: 50px; height: 50px; float: left; margin: 0 12px 0 20px; background: url(/static/public/img/r_header/default.png);}
.r_userImg span.sp1 img{ width: 50px; height: 50px; display: block; border-radius: 50%;}
.r_userImg span.sp2{ width: 164px; height: 50px; float: left; line-height: 25px; font-size: 12px;}
.r_userImg span.sp2 p{ line-height: 25px;}
.r_userImg span.sp2 p.p1{ color: #696969;}

.r_userOperation{ width: 246px; height: 111px; float: left; background: #fff; line-height: 55px;}
.r_uoItem1{ width: 123px; height: 55px; float: left; border-bottom: 1px solid #f0f0f0; position: relative; background: url(/static/public/img/r_header/uo_1.png) 24px center no-repeat; text-indent: 52px;}
.r_uoItem2{ width: 123px; height: 55px; float: left; border-bottom: 1px solid #f0f0f0; background: url(/static/public/img/r_header/uo_2.png) 24px center no-repeat; text-indent: 52px;}
.r_uoItem3{ width: 123px; height: 55px; float: left; position: relative; background: url(/static/public/img/r_header/uo_3.png) 24px center no-repeat; text-indent: 52px;}
.r_uoItem4{ width: 123px; height: 55px; float: left; background: url(/static/public/img/r_header/uo_4.png) 24px center no-repeat; text-indent: 52px;}
.r_uoItem1:hover{ background: url(/static/public/img/r_header/uo_1_act.png) 24px center no-repeat;}
.r_uoItem2:hover{ background: url(/static/public/img/r_header/uo_2_act.png) 24px center no-repeat;}
.r_uoItem3:hover{ background: url(/static/public/img/r_header/uo_3_act.png) 24px center no-repeat;}
.r_uoItem4:hover{ background: url(/static/public/img/r_header/uo_4_act.png) 24px center no-repeat;}
.r_uoItem1::after,.r_uoItem3::after{ width: 1px;height: 24px; position: absolute;content: '';background: #f0f0f0; top: 16px; right: 0;}
.r_userOperation a{ color: #333; text-decoration: none;}
.r_userOperation a:hover{ color: #000;}
.r_userFooter{ width: 246px; height: 20px; background: #f8f9fb; float: left;}

.r_index_right{ width: auto; height: 22px; float: right;}
.r_index_user{ width: auto; height: 22px; float: left; padding: 0 18px 0 20px; font-size: 14px;color: #fff; line-height: 22px;cursor: pointer; position: relative; -ms-user-select:none; -moz-user-select: none; -webkit-user-select: none;}
.r_index_userDown::after{ width: 8px; height: 4px; content: ''; background: url(/static/public/img/r_header/index_down.png); position: absolute; top: 10px; right: 0px;}
.r_index_userUp::after{ width: 8px; height: 4px; content: ''; background: url(/static/public/img/r_header/index_up.png); position: absolute; top: 10px; right: 0px;}
.r_index_info{ width: auto; height: 22px; font-size: 14px; color: #fff; float: left; position: relative; line-height: 22px; padding: 0 21px 0 25px; background:url(/static/public/img/r_header/index_tips.png) left center no-repeat; cursor: pointer; -ms-user-select:none; -moz-user-select: none; -webkit-user-select: none;}
.r_index_info:hover{ background:url(/static/public/img/r_header/index_tips_act.png) left center no-repeat;}
.r_index_info::after{ width: 1px;height: 21px; position: absolute;content: ''; background: url(/static/public/img/r_header/index_line.png); top: 1; right: 0; }
.r_index_tips{ width: 260px; height: 60px; position: absolute; right: 20px; top: 47px; z-index: 100; box-shadow: 0 2px 20px rgba(0, 0, 0, 0.4); border-radius: 2px; display: none; background: url(/static/public/img/r_header/enter_no_mes.png) center 22px #fff no-repeat; padding-top: 90px; text-align: center; font-size: 14px; color: #696969;}
.r_hide{ display: none;}
.r_show{ display: block;}

.r_left_head{ width: 100%; height: 50px; overflow: hidden; float: left; border-bottom: 1px solid #F0F0EE; font-size: 14px; color: #696969; position: relative;line-height: 50px; text-indent: 50px;}
.menu_show_btn{ background: url(/static/public/img/r_left/menu_show_btn.png) 172px center no-repeat; cursor: pointer;}
.menu_show_btn:hover{ background: url(/static/public/img/r_left/menu_show_btn_over.png) 172px center no-repeat;}
.menu_show_btn:active{ background: url(/static/public/img/r_left/menu_show_btn_on.png) 172px center no-repeat;}

.menu_hide_btn{ background: url(/static/public/img/r_left/menu_hide_btn.png) center center no-repeat; cursor: pointer;}
.menu_hide_btn:hover{ background: url(/static/public/img/r_left/menu_hide_btn_over.png) center no-repeat;}
.menu_hide_btn:active{ background: url(/static/public/img/r_left/menu_hide_btn_on.png) center no-repeat;}

.r_left_fixed{ position: fixed !important; top: 0; z-index: 9999;}
.r_right_nav_fixed{ position: fixed !important; top: 60px; z-index: 99;}
