/*连锁店模块新增样式部分，表格高度改为30px */
/*by liqin 20170627*/

/*表格样式区*/
/*表格统一样式风格*/
.unite_table{ background-color:#fff;border-collapse: collapse;}
.unite_table thead{height:35px; background-color:#fafafa; box-sizing:border-box}
.unite_table th{height:33px; color:#696969;font-size:14px; padding:0 10px; font-weight:normal; text-align:left; box-sizing:border-box;border: 1px solid #f0f0f0;    white-space: nowrap;}
.unite_table td{height:30px;color:#333; font-size:13px;padding:0 10px !important;box-sizing:border-box;border: 1px solid #f0f0f0;    white-space: nowrap;}
.unite_table tbody tr:nth-child(even){background:#fafafa;}
.unite_table tbody tr:hover{ background-color:#e4f9f7}
.unite_table tbody .table_nodata:hover{ background-color:#fff}
.unite_table tbody tr:active td{ background-color:#ccf3f0}
.unite_table tbody tr.active td{ background-color:#ccf3f0}/*liqin 2017610*/
.unite_table tbody tr.table_nodata:active td{background-color:#fff}/*liqin 20171011*/
.unite_table tbody tr td:last-child,.unite_table tr th:last-child{ padding-right:10px;}
.unite_table tbody tr.last{background-color: #ededed;font-weight: bold;}
.unite_table tbody tr.last:hover{ background-color:#ededed}
.unite_table .t_r{text-align: right;}/*liqin*/
.unite_table.noTopborder th{border-top: none};/*去掉表格最上方的线*/


.noLBorder .unite_table th,.noLBorder .unite_table tbody td{border-left: none;}
.noRBorder .unite_table th,.noRBorder .unite_table tbody td{border-right: none;}

/*新系列图标＝＝＝＝＝＝＝＝＝＝＝＝＝s*/
/*---------------------------------------
 复选按钮
 ----------------------------------------*/ 
input[type="checkbox"].n_checkbox {-webkit-appearance: none;background:url(/static/pubpopwd/img/chk.png) no-repeat;height: 18px;vertical-align: middle;width: 16px;background-position: 0px 2px;	}
input[type="checkbox"].n_checkbox:focus,
input[type="checkbox"].n_checkbox:hover {background-position:-25px 2px;; outline: none;cursor:pointer}
input[type="checkbox"].n_checkbox:checked {background-position: -50px 2px;}
input[type="checkbox"].n_checkbox:checked:hover {background-position: -75px 2px;}
input[type="checkbox"].part_checked {background-position: -125px 2px;}	           /* 部分选中*/
input[type="checkbox"][disabled].n_checkbox {background-position: 0px 2px;}
input[type="checkbox"][disabled].n_checkbox:checked {background-position: -100px 2px;}	

input[type="checkbox"].n_checkbox.vtt{vertical-align: text-top;}
/*---------------------------------------
 单选按钮
 ----------------------------------------*/ 
input[type="radio"].n_radio {-webkit-appearance: none;background: url(/static/pubpopwd/img/radio.png) no-repeat;height: 20px;vertical-align: middle;width: 20px;background-position: 0px 2px;	}
input[type="radio"].n_radio:focus,
input[type="radio"].n_radio:hover {background-position: -25px 2px; outline: none;cursor:pointer}
input[type="radio"].n_radio:checked {background-position: -50px 2px;}
input[type="radio"].n_radio:checked:hover {background-position: -75px 2px;}
input[type="radio"][disabled].n_radio {background-position: 0px 2px;}
input[type="radio"][disabled].n_radio:checked {background-position: -100px 2px;}	
/*---------------------------------------*/

/*上移下移操作图标s*/
.p_upmove_ico{background-image:url(/static/pubpopwd/img/up.png);width:18px;height:18px;display:inline-block;cursor:pointer;vertical-align: middle;}  		/*上移图标*/
.p_upmove_ico:hover{background-image:url(/static/pubpopwd/img/up1.png);}
.p_upmove_ico:active{background-image:url(/static/pubpopwd/img/up1.png);}
.p_upmove_ico.disabled,.p_upmove_ico.disabled:hover{background-image:url(/static/pubpopwd/img/up2.png); cursor: default;color: #ccc;}


.p_downmove_ico{ background-image:url(/static/\pubpopwd/img/down.png); width:18px; height:18px;display:inline-block;cursor:pointer;vertical-align: middle;}  	/*下移图标*/
.p_downmove_ico:hover{background-image:url(/static/pubpopwd/img/down1.png);}
.p_downmove_ico:active{background-image:url(/static/pubpopwd/img/down1.png);}
.p_downmove_ico.disabled,.p_downmove_ico.disabled:hover{background-image:url(/static/pubpopwd/img/down2.png); cursor: default;color: #ccc;}
/*上移下移操作图标e*/


/*白色透明底修改，删除，微信图标*/
.wechat_ico_w{background-image:url(/static/pubpopwd/img/wechat_w.png);width:22px;height:18px;display:inline-block;cursor:pointer;vertical-align: middle;}  		
.wechat_ico_w:hover{background-image:url(/static/pubpopwd/img/wechat1_w.png);}
.wechat_ico_w:active{background-image:url(/static/pubpopwd/img/wechat1_w.png);}
.wechat_ico_w.disabled,.wechat_ico_w.disabled:hover{background-image:url(/static/pubpopwd/img/wechat1_w.png); cursor: default;color: #ccc;}

.edit_ico_w{background-image:url(/static/pubpopwd/img/set_w.png);width:18px;height:18px;display:inline-block;cursor:pointer;vertical-align: middle;}  		
.edit_ico_w:hover{background-image:url(/static/pubpopwd/img/set1_w.png);}
.edit_ico_w:active{background-image:url(/static/pubpopwd/img/set1_w.png);}
.edit_ico_w.disabled,.edit_ico_w.disabled:hover{background-image:url(/static/pubpopwd/img/set1_w.png); cursor: default;color: #ccc;}

.del_ico_w{background-image:url(/static/pubpopwd/img/del_w.png);width:18px;height:18px;display:inline-block;cursor:pointer;vertical-align: middle;}  		
.del_ico_w:hover{background-image:url(/static/pubpopwd/img/del1_w.png);}
.del_ico_w:active{background-image:url(/static/pubpopwd/img/del1_w.png);}
.del_ico_w.disabled,.del_ico_w.disabled:hover{background-image:url(/static/pubpopwd/img/del1_w.png); cursor: default;color: #ccc;}

/*新系列图标＝＝＝＝＝＝＝＝＝＝＝＝＝e*/


/*表格上方搜索栏样式*/
.searchWrap{height: 49px; border-bottom: 1px solid #F0F0EE; line-height: 49px}

.uploadBtn,.fillBtn,.cancelBtn{line-height: 0px;font-size: 14px}

.mark2{color:#466dc4}
/**/
/*操作文字颜色*/
.opr_td {}
.unite_table .opr_td i,.opr_td i{color: #ccc;font-style: initial;padding: 0px 5px;margin:0px;}
.opr_td span{color: #466dc4;cursor: pointer;}
.opr_td a{color: #466dc4;}
.opr_td .disabled{color: #ccc;cursor: default;}