<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>产品中心</title>
		{{template "../public/link/css_inc.html" .}}
		<link href="/static/erp/css/profile.css" rel="stylesheet" />
        <link href="/static/erp/css/user.css" rel="stylesheet" />
	</head>
	<body>
		{{template "../public/public/header.html" .}}
			<div class="mainFrme">
				{{template "../public/public/left.html" .}}
				<div class="rightFrme">
                    <div class="crumbs"><a href="###">主页</a> > <a href="###">平安活动管理</a></div>
                    <div class="cont">
						<div class="pageHeader">
                            <a href="#">订单中心</a><a href="#" id="nowPage">产品中心</a><a href="#">签约门诊</a>
                        </div>
                        <div class="search search_pro">
							<label>创建时间</label>
							<div id="BeginDate" class="calendar"></div>
							<label>至</label>
							<div id="EndDate" class="calendar"></div>
							<label>产品分类</label>
							<div id="proDep" class="proDep"></div>
							<label>状态</label>
							<div id="proState" class="proState"></div>
							<input class="ml20 w240" type="text" placeholder="请输入标题/编号等条件查询" />
							<input type="button" value="查询" />
							<div class="excel" style="">导出excel</div>
						</div>
						<div class="f_data">
							<table>
								<tr>
									<th align="center">产品名称</th>
									<th align="left">产品编号</th>
									<th align="left">产品分类</th>
									<th align="left">产品类型</th>
									<th align="center">缩略图</th>
									<th align="left">有效日期</th>
									<th align="left">产品服务项</th>
									<th align="left">签约门诊量</th>
									<th align="left">平安app销量</th>
									<th align="center">看牙销量</th>
                                    <th align="center">状态</th>
                                    <th align="center">操作</th>
								</tr>
								<tr>
									<td align="center">
                                        <p>年度牙齿健康高级</p>
                                        <p>维护套餐</p>
                                    </td>
									<td align="left">56656</td>
									<td align="left">洁牙</td>
									<td align="left">增值型-A</td>
                                    <td align="left"><img src="/static/erp/img/message/pic.png" width="120"></td>
									<td align="center">2016.12.14-2016.12.14</td>
									<td align="left">
                                        <p>初诊挂号费</p>
                                        <p>全口牙齿检查</p>
                                        <p>牙周深度检查</p>
                                        <p>菌斑监测</p>
                                    </td>
									<td align="left">856家</td>
									<td align="left">3544848笔</td>
									<td align="left">3544848笔</td>
                                    <td>上架</td>
									<td align="center"><a herf="#">查看</a>&nbsp;&nbsp;&nbsp;<a href="#">用户退款</a></td>
								</tr>
                                <tr>
									<td align="center">
                                        <p>年度牙齿健康高级</p>
                                        <p>维护套餐</p>
                                    </td>
									<td align="left">56656</td>
									<td align="left">洁牙</td>
									<td align="left">增值型-A</td>
                                    <td align="left"><img src="/static/erp/img/message/pic.png" width="120"></td>
									<td align="center">2016.12.14-2016.12.14</td>
									<td align="left">
                                        <p>初诊挂号费</p>
                                        <p>全口牙齿检查</p>
                                        <p>牙周深度检查</p>
                                        <p>菌斑监测</p>
                                    </td>
									<td align="left">856家</td>
									<td align="left">3544848笔</td>
									<td align="left">3544848笔</td>
                                    <td>上架</td>
									<td align="center"><a herf="#">查看</a>&nbsp;&nbsp;&nbsp;<a href="#">用户退款</a></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		{{template "../public/public/footer.html" .}}
        <!--确认退款弹窗-->
        <div class="reFoundWin"></div>
        <div class="reFoundCon">
            <div class="rfc_tit">请核实已退款后操作<img src="/static/erp/img/close.png"></div>
            <ul>
                <li><span class="rfc_sp1">申请退款订单号：</span><span class="rfc_sp2">98563321410441</span></li>
                <li><span class="rfc_sp1">申请退款时间：</span><span class="rfc_sp2">2016.12.15  12:25:30</span></li>
                <li><span class="rfc_sp1">订单金额：</span><span class="rfc_sp2">¥ 688</span></li>
                <li><span class="rfc_sp1">退款金额：</span><span class="rfc_sp2">¥ 688</span></li>
            </ul>
            <input type="button" value="确认退款" id="refoundConfim">
        </div>
	</body>
	{{template "../public/link/js_inc.html" .}}
    <script type="text/javascript">
		$(function(){
			$("#BeginDate").yayigj_date_Sel();
			$("#EndDate").yayigj_date_Sel();
			
			//加载页面获取当天日期
			$("#BeginDate").getCurrday();
			$("#EndDate").getCurrday();

            $("#proDep").yayigj_downlist({    //proDep
                _hiddenID:'clinicid2',
                _valtype:'text',
                _data:[
                    {'key':'洁牙'},
                ]	 
            });

            $("#proState").yayigj_downlist({    //状态
                _hiddenID:'clinicid2',
                _valtype:'text',
                _data:[
                    {'key':'上架'},
                ]	 
            });
        })
	</script>
</html>