<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>类别管理</title>
		{{template "../public/link/css_inc.html" .}}
		<link href="/static/erp/css/profile.css" rel="stylesheet" />
        <link href="/static/erp/css/user.css" rel="stylesheet" />
	</head>
	<body>
		{{template "../public/public/header.html" .}}
			<div class="mainFrme">
				{{template "../public/public/left.html" .}}
				<div class="rightFrme">
                    <div class="crumbs"><a href="###">主页</a> > <a href="###">产品订单中心</a> > <a href="###">产品中心</a> > <a href="###">类别管理</a></div>
                    <div class="cont">
                       <table width="100%"  class="type_man_table" align="center">
                           <thead><tr><th>编号</th><th>类别名称</th><th>类别序列</th><th>类别icon</th><th>状态</th><th>产品数量</th><th>操作</th></tr></thead>
                           <tbody align="center">
                               <tr>
                                   <td>9527</td>
                                   <td>洁牙</td>
                                   <td>4</td>
                                   <td><img src="/static/erp/img/user-img-default.png" width="80"></td>
                                   <td>显示</td>
                                   <td>45</td>
                                   <td><span>隐藏</span><span>上移</span><span>下移</span><span>修改</span><span>删除</span></td>
                               </tr>
                                <tr>
                                   <td>9527</td>
                                   <td>洁牙</td>
                                   <td>4</td>
                                   <td><img src="/static/erp/img/user-img-default.png" width="80"></td>
                                   <td>显示</td>
                                   <td>45</td>
                                   <td><span>隐藏</span><span>上移</span><span>下移</span><span>修改</span><span>删除</span></td>
                               </tr>
                                <tr>
                                   <td>9527</td>
                                   <td>洁牙</td>
                                   <td>4</td>
                                   <td><img src="/static/erp/img/user-img-default.png" width="80"></td>
                                   <td>显示</td>
                                   <td>45</td>
                                   <td><span>隐藏</span><span>上移</span><span>下移</span><span>修改</span><span>删除</span></td>
                               </tr>
                           </tbody>
                       </table>
					</div>
				</div>
			</div>
		{{template "../public/public/footer.html" .}}
	</body>
	{{template "../public/link/js_inc.html" .}}
</html>