<!doctype html>
<html>
<head>
<title>会员活动</title>
<meta charset="utf-8" />
<!--<include file="Public:css_inc"/>-->
{{template "/account/Public/per_css_inc.html" .}}
<link rel="stylesheet" type="text/css" href="/static/account/css/memberCenter.css">
</head>

<body>
<!-- 头部 -->
	 <!--<include file="Public:memberCen_hea_new" />-->
	 {{template "/account/Public/memberCen_hea_new.html" .}}
	 <div class="activi_detail">
        <div class="newsDetail">
			<h1>【牙医管家商学院】单把牙椅如何做到年业绩400万</h1>
		    <h3>2016-09-08</h3>
	        <div class="detailCont">
	    		<!-- <input id="BannerContEdit" name="BannerContEdit" type="text" style="display:none;"><input id="BannerContEdit" name="BannerContEdit" type="text" style="display:none;"><input id="BannerContEdit" name="BannerContEdit" type="text" style="display:none;"><input id="BannerContEdit" name="BannerContEdit" type="text" style="display:none;"><input id="BannerContEdit" name="BannerContEdit" style="display:none;" type="text"><input id="BannerContEdit" name="BannerContEdit" style="display:none;" type="text">  -->
			<p>
				单把牙椅从年业绩30万到400万，这是一个名副其实的成功案例，并不是一个遥不可及的梦想。创建这一业绩记录的便是我们牙医管家商学院的院长朱老师，她不仅在学术上取得了极高的造诣，在诊所经营管理上也有自己独到的见解，并取得了骄人的成绩。
			</p>
			<p align="center">
				<img src="/static/account/img/theme.png"> 
			</p>
			<p>
				牛顿说：“如果说我比别人看得更远些,那是因为我站在了巨人的肩上”，现在我们便给您提供了这样一个千载难逢的机会，让您跟着高手系统地学习如何在短时间内让诊所取得突破性业绩转变，如何将诊所经营得风生水起。
			</p>
			<p>
				牙医管家商学院，将带您迈出通往成功路上的关键一步，现在我们更是为您诚意定制了含巨大优惠的全年课程折扣。兴许您已经在诊所经营中摸索出一些门道，也许您刚刚发现提升业绩的种种障碍，或许您尚未察觉增加客户就诊率的重要性，不管您正处于哪个阶段，相信我们的课程都会给您带来某种启发、激活某种方案，让你结合所学形成适合自己诊所的营销方式。我们能给您的不多，可能只是让您在自我摸索过程中少走弯路，就这么简单!
			</p>
			<input id="BannerContEdit" name="BannerContEdit" style="display:none;" type="text">	</div>	
		</div>
</div>

  <!--<include file="Public:footer_new"/>-->
  {{template "/account/Public/footer_new.html" .}}
</body>
</html>