<!doctype html>
<html>
<head>
<title>会员活动</title>
<meta charset="utf-8" />
<!--<include file="Public:css_inc"/>-->
{{template "/account/Public/per_css_inc.html" .}}
<link rel="stylesheet" type="text/css" href="/static/account/css/memberCenter.css">
</head>

<body>
<!-- 头部 -->
	 <!--<include file="Public:memberCen_hea_new" />-->
	 {{template "/account/Public/memberCen_hea_new.html" .}}
       <div class="main_con">
       		<div class="main_left">
                <!--<include file="Public:left_nav"/>-->
				 {{template "/account/Public/left_nav.html" .}}
            </div>
			<!-- 未开通的服务 -->
			<div class="main_right">
				<div class="right_box">
					<ul class="act_lists">
						<dl>
							<dt><img src="/static/account/img/u2974.png" alt=""></dt>
							<dd class="activity_content fix">
								<h3>牙医管家北京站，端午3天大放“价”</h3>
								<p><span class="gray l">活动时间：</span>
								<span class="ml80 l">2016.07.01 - 2016.07.31</span></p>
								<p><span class="gray l">活动地点：</span>
								<span  class="ml80 l">北京国家会议中心4楼Z106-Z108展位</span></p>
								<p><span class="gray l">活动简介：</span>
								<span  class="ml80 l">难得的小长假，牙医管家的小伙伴们却放弃休息，马不停蹄地赶到北京，争取给更。……</span></p>
								<p class="p_active l">
									<label class="gray">活动状态:</label><span class="c8c8c8 status">已结束</span>	
									<span class="atten_num"><b>12332</b>人关注</span>
									<a href="/MemberActivity/activity" class="details">查看详情<img src="/static/account/img/view_detail.png" /></a>							
								</p>
							</dd>
						</dl>
						<dl>
							<dt><img src="/static/account/img/u2982.png" alt=""></dt>
							<dd class="activity_content fix">
								<h3>牙医管家北京站，端午3天大放“价”</h3>
								<p><span class="gray l">活动时间：</span>
								<span class="ml80 l">2016.07.01 - 2016.07.31</span></p>
								<p><span class="gray l">活动地点：</span>
								<span  class="ml80 l">北京国家会议中心4楼Z106-Z108展位</span></p>
								<p><span class="gray l">活动简介：</span>
								<span  class="ml80 l">难得的小长假，牙医管家的小伙伴们却放弃休息，马不停蹄地赶到北京，争取给更。……</span></p>
								<p class="p_active l">
									<label class="gray">活动状态:</label><span class="b9c status">正在进行</span>	
									<span class="atten_num"><b>12332</b>人关注</span>
									<a href="/MemberActivity/activity" class="details">查看详情<img src="/static/account/img/view_detail.png" /></a>							
								</p>
							</dd>
						</dl>
                       <dl>
							<dt><img src="/static/account/img/u3004.png" alt=""></dt>
							<dd class="activity_content fix">
								<h3>牙医管家北京站，端午3天大放“价”</h3>
								<p><span class="gray l">活动时间：</span>
								<span class="ml80 l">2016.07.01 - 2016.07.31</span></p>
								<p><span class="gray l">活动地点：</span>
								<span  class="ml80 l">北京国家会议中心4楼Z106-Z108展位</span></p>
								<p><span class="gray l">活动简介：</span>
								<span  class="ml80 l">难得的小长假，牙医管家的小伙伴们却放弃休息，马不停蹄地赶到北京，争取给更。……</span></p>
								<p class="p_active l">
									<label class="gray">活动状态:</label><span class="b9c status">正在进行</span>	
									<span class="atten_num"><b>12332</b>人关注</span>
									<a href="/MemberActivity/activity" class="details">查看详情<img src="/static/account/img/view_detail.png" /></a>							
								</p>
							</dd>
						</dl>
						<dl>
							<dt><img src="/static/account/img/u3044.png" alt=""></dt>
							<dd class="activity_content fix">
								<h3>牙医管家北京站，端午3天大放“价”</h3>
								<p><span class="gray l">活动时间：</span>
								<span class="ml80 l">2016.07.01 - 2016.07.31</span></p>
								<p><span class="gray l">活动地点：</span>
								<span  class="ml80 l">北京国家会议中心4楼Z106-Z108展位</span></p>
								<p><span class="gray l">活动简介：</span>
								<span  class="ml80 l">难得的小长假，牙医管家的小伙伴们却放弃休息，马不停蹄地赶到北京，争取给更。……</span></p>
								<p class="p_active l">
									<label class="gray">活动状态:</label><span class="b9c status">正在进行</span>	
									<span class="atten_num"><b>12332</b>人关注</span>
									<a href="/MemberActivity/activity" class="details">查看详情<img src="/static/account/img/view_detail.png" /></a>							
								</p>
							</dd>
						</dl>
						<dl>
							<dt><img src="/static/account/img/u3046.png" alt=""></dt>
							<dd class="activity_content fix">
								<h3>牙医管家北京站，端午3天大放“价”</h3>
								<p><span class="gray l">活动时间：</span>
								<span class="ml80 l">2016.07.01 - 2016.07.31</span></p>
								<p><span class="gray l">活动地点：</span>
								<span  class="ml80 l">北京国家会议中心4楼Z106-Z108展位</span></p>
								<p><span class="gray l">活动简介：</span>
								<span  class="ml80 l">难得的小长假，牙医管家的小伙伴们却放弃休息，马不停蹄地赶到北京，争取给更。……</span></p>
								<p class="p_active l">
									<label class="gray">活动状态:</label><span class="b9c status">正在进行</span>	
									<span class="atten_num"><b>12332</b>人关注</span>
									<a href="/MemberActivity/activity" class="details">查看详情<img src="/static/account/img/view_detail.png" /></a>							
								</p>
							</dd>
						</dl>
						
					</ul>
					<a href="" id="more">载入更多<img src="/static/account/img/more.png"/></a>
					
				</div>				
			</div>
       </div>
       <!--<include file="Public:footer_new"/>
       <include file="Public:js_inc"/>-->
       {{template "account/Public/footer_new.html" .}}
       {{template "account/Public/js_inc.html" .}}    
</body>
</html>