<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>申请信息填写-移动支付优惠套餐</title>
<link href="/static/ant/css/header.css" rel="stylesheet" />
<link href="/static/ant/css/index.css" rel="stylesheet" />
<link href="/static/ant/css/footer.css" rel="stylesheet" />
<link href="/static/ant/css/antGroup.css" rel="stylesheet" />
</head>

<body>
{{template "/ant/Public/header.html" }}

<div class="process">
    <div class="item">基本流程</div>
    <ul>
        <li class="step1 ok nobefore"><img src="/static/ant/img/step1.png">选择套餐</li>
        <li class="step2 ok"><img src="/static/ant/img/step2.png">购买成功</li>
        <li class="step3 ok"><img src="/static/ant/img/step3.png">提交支付宝申请信息</li>
        <li class="step4 ok"><img src="/static/ant/img/step4.png">提交微信申请信息<br><span>需提前开通服务号</span></li>
        <li class="step5"><img src="/static/ant/img/step5.png">提交成功等待审核</li>
    </ul>
</div>
<div class="baseinfo">
	<div class="item">基本信息</div>
	<form  id="form1" name="form1" method="post" action='/member/ChangeWechatInfo'>
	<ul>
    	<li><span class="required">联系人：	</span><input type="text" name="contactname" required placeholder="请与服务号联系人保持一致"></li>
        <li><span class="required">联系方式：</span><input type="text" name="contactmobile" required oninput="checkform(this,'number')" placeholder="请与服务号联系方式保持一致"></li>
        <li><span class="required">微信服务号：</span><input type="text" name="wechatid" required placeholder="服务号已认证并开通微信支付"></li>
        <li><span class="required">商户号：		</span><input type="text" name="merchant_no"  required placeholder="请输入微信支付中的商户号"></li>
        <li><span class="required">API密钥：		</span><input type="text" name="apikey" required placeholder="请输入商户号中设置的API密钥"></li>

    </ul>
    <div class="tlc"><input type="submit" value="提交"  class="submit"> <input type="button" value="跳过并提交"  class="cancel"> </div>
	<input type="hidden" name="return_url" value="/member/submitsuccess">
	</form>
    <div class="notice">
    	<div>
    		牙医管家微信支付绑定须知
    		<ul>
    			<li>1、牙医管家仅支持服务号已认证并开通微信支付的商家</li>
    			<li>2、所填信息请与服务号申请信息保持一致</li>
    			<li>3、不具备绑定条件或不需绑定微信支付的商家，请点击“跳过并提交”</li>
    		</ul>
    	</div>
    </div>
</div>

<div class="service">
    <h3>如有疑问请致电人工客服：86 400-660-5770 &nbsp;&nbsp;周一至周五（09：00-18：00）</h3>
    <h3></h3>
</div>
{{template "/ant/Public/footer.html" }}
</body>
<script type="text/javascript" src="/static/ant/js/area.js"></script>
<script type="text/javascript" src="/static/ant/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/static/ant/js/header.js"></script>
<script type="text/javascript" src="/static/ant/js/index.js"></script>
<script type="text/javascript" src="/static/ant/js/jquery.bxslider.js"></script>
<script type="text/javascript" src="/static/ant/js/local_upload.js"></script>
<script type="text/javascript">
$("input[required]").focusout(function(){
		var bool=false;
		var _tips=null;
		if($(this).attr("data-type")!=undefined){
			bool=checkform($(this),$(this).attr("data-type"));
		}else{
			if($.trim($(this).val())!=''){
				bool=true;
			}
		}

		if($(this).next(".tips").length==0){
			$(this).after("<span class='tips'></span>")
		}
		_tips=$(this).next(".tips");

		if(bool){
			_tips.addClass("correct").removeClass("error")
		}else{
			_tips.addClass("error").removeAttr("correct");
		}
	})

//表单验证
function checkform(obj,type){
	var t=$(obj).val();
	var re=false;
	var reg='';
	switch(type){
		case 'number':
			reg=/^[0-9\-]+$/;
			if(!reg.test(t)){
				t=t.substring(0,t.length-1);
			}
			// re=true;
			break;
		case 'mobile':
			reg=/^1[3|4|5|7|8]\d{9}$/;
			break;
		case 'mail':
			reg="[\w!#$%&'*+/=?^_`{|}~-]+(?:\.[\w!#$%&'*+/=?^_`{|}~-]+)*@(?:[\w](?:[\w-]*[\w])?\.)+[\w](?:[\w-]*[\w])?";
			break;
		default:
			break;
	}
	if(reg.test(t)){
		re=true;
	}
	$(obj).val(t);
}
//表单提交
$(".submit").click(function(){
	var form = $("input[required]");
	var data = new Array();

	for(var i= 0,length = form.length;i<length;i++){
		form.eq(i).focusout();
	}
	//表单校验
	if(form.next().hasClass("error")){
		return false;
	}

	return true;
})

$(".cancel").click(function(){
	location.href='/member/submitsuccess';
})
//拆分url参数
//先重置QueryString.Initial，再使用QueryString.GetValue
QueryString = {
	data: {},
	Initial: function() {
		var aPairs, aTmp;
		var queryString = new String(window.location.search);
		queryString = queryString.substr(1, queryString.length); //remove   "?"     
		aPairs = queryString.split("&");
		for (var i = 0; i < aPairs.length; i++) {
			aTmp = aPairs[i].split("=");
			this.data[aTmp[0]] = aTmp[1];
		}
	},
	GetValue: function(key) {
		//console.log(this.data) 
		return this.data[key];
	}
}

QueryString.Initial()
$("input[name=contactmobile]").val(QueryString.GetValue("tel"))
$("input[name=contactname]").val(decodeURI(QueryString.GetValue("name")))

</script>


</html>
