<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>微课堂--添加</title>
		{{template "../public/link/css_inc.html" .}}
		<link href="/static/erp/college/css/user.css" rel="stylesheet" />
		<link href="/static/erp/college/css/add_micro.css" rel="stylesheet" />
<style type="text/css">
.btn{width: 100px;font-size: 16px;color: #333;line-height: 30px;margin:auto 10px;}
</style>
	</head>
	<body>
<div id="video_name" style="display: none"></div>
<div id="formatSize" style="display: none"></div>
<div class="add_micro">
		<p><i class="tiprequire" style="margin-left: -335px;vertical-align: -7px;"></i><span>标题：</span><input type="text" maxlength="30" class="ml20 w240" id="classtitle"></p>
		<p><i class="tiprequire" style="margin-left: -335px;vertical-align: -7px;"></i><span>类型：</span><input type="text" name="" readonly class="ml20 w240" id="typeof"></p>
		<div id="ossfile" style="width: 400px;height:30px;margin:0 auto;font-size: 14px;color: #333;line-height: 30px;text-align: center;"></div>
		<div id="container" style="width: 380px;height:30px;margin:0 auto;text-align: center;">
			<a id="selectfiles" href="javascript:void(0);" class='btn'>选择文件</a>
			<a id="postfiles" href="javascript:void(0);" class='btn'>开始上传</a>
		</div>

		<pre id="console"></pre>
		<!-- <span>文件：</span><input type="hidden" name="fname" readonly  id="typeof"><em></em><i id="v_upload" onclick="document.getElementById('v_up_div').style.display='block'">上传</i> -->
				
</div>
<div class="submit_from">
             <input type="submit" class="fillBtn" id="fillBtn_set" name="" value="确定">
             <input type="submit" class="cancelBtn" id="cancelBtn_set" name="" value="取消">
</div>
</body>
	{{template "../public/link/js_inc.html" .}}
	<script type="text/javascript" src="/static/erp/college/js/lib/plupload-2.1.2/js/plupload.full.min.js"></script>
	<script type="text/javascript" src="/static/erp/college/js/add_micro.js"></script>
</html>
